<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutForm">
<div layout:fragment="content" class="panel panel-primary">
	<div th:if="${error}" th:text="${error}" class="alert alert-danger"></div>
	<div th:if="${info}" th:text="${info}" class="alert alert-success"></div>
	<div class="panel-heading"></div>
	<div class="panel-body form">
		<form th:object="${departementDTO}" th:action="@{/departement/add}"
			method="post">
				
				<div class="form form-group">
						<label class="label-control">Region</label> 
						<select th:field="*{idRegion}" class="form-control">
							<option value="">selectionnez une region</option>
							<option th:each="region : ${regions}" th:value="${region.id}" th:text="${region.nom}"></option>
						</select>
					</div>
				
					<div class="form form-group">
						<label class="label-control">Nom</label> <input
							class="form-control" type="text" th:field="*{nom}"
							th:value="*{nom}" />
					</div>
					

			<div class="form form-group">
				<button type="submit" class="btn btn-primary">
					<span class="glyphicon glyphicon-plus-sign"></span> valider
				</button>
			</div>

		</form>
	</div>
</div>
</html>