<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<div layout:fragment="content">

	<div th:if="${success}" class="alert alert-success">
		<h5 th:text="${success}"></h5>
	</div>

	<div>
		<ul class="nav nav-pills nav-stacked">
			<li class="active"><a data-toggle="modal" th:href="@{/departement/add}"><span>Nouveau departement</span>
					<button class=" btn btn-success btn-xs">
						<span class="glyphicon glyphicon-plus"></span>
					</button> </a></li>
		</ul>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">Liste des departements</div>
		<table id="table_departements" class="table table-bordered table-striped table-condensed table-responsive">
		<thead>
			<tr>
			<th>ID</th
			><th>Nom</th>
		</tr>
		</thead>
		<tbody>
			<tr th:each="departement : ${departements}">
			<td th:text="${departement.id}"></td>
			<td th:text="${departement.nom}"></td>
		</tr>
		</tbody>
	</table>
	</div>
	
	
</div>
</html>