<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

    <div layout:fragment="haut">

        <div class="block-header">
            <h2>
                <i class="material-icons">group</i><span>LISTE DES
                    GUICHET</span>
            </h2>
        </div>
    </div>

    <div layout:fragment="content">
        
<!--debut maincontent-->
            <div class="mainWrap navslide">
                <div class="ui equal width left aligned padded grid stackable">



                    <div class="stretched row">

                        <div class="sixteen wide tablet sixteen wide computer column">
                            <div class="ui segments">
                                <div class="ui segment no-padding-bottom">
                                    <h5 class="ui left floated header">

                                    </h5>
                                    <h5 class="ui right floated header">
                                       <a th:href="@{/guichets-add}" class="ui button brown"><i class="plus icon"></i>Nouveau Guichet</a>
                                    </h5>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="ui segment left aligned">
                                  <table class="ui compact celled definition table tablet stackable">
                                                <thead class="full-width">
                                                    <tr>
                                                      <th>Nom guichet</th>
                                                        <th>Valeur max</th>
                                                        <th colspan="3">Action</th>

                                                    </tr>
                                                </thead>
                                                
                                                <tbody>
                                                   
                                                    <tr th:each="guichet : ${guichets}">
                                                        
                                                        <td  th:text="${guichet.nom}"></td>
                                                        <td  th:text="${guichet.max}"></td>
                                                        <td><a th:href="@{/guichet-update(id=${guichet.id})}"><i class="edit icon"></i> modifier</a></td>
                                                   <!-- <td><a><i class="close icon"></i> supprimer</a></td>-->
                                                        <td>  
                                                            <div class="ui toggle checkbox">
                                                                
                                                                <input type="checkbox" class="EnableOrDisableGuichet" th:checked="${guichet.active}" th:attr="data-id=${guichet.id}"/>
                                                                <label></label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                                        
                                              </tbody>
                                           </table>
                                    <div class="ui inverted dimmer">
                                        <div class="ui text loader">Loading</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>

    </div>
</html>
