<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

    <div layout:fragment="haut">

        <div class="block-header">
            <h2>
                <i class="material-icons">group</i><span>LISTE DES
                    GUICHETS</span>
            </h2>
        </div>
    </div>

    <div layout:fragment="content">

        <div class="header">
            <button type="button" class="btn bg-deep-orange waves-effect" data-toggle="modal" data-target="#modalAddGuichet">
                <i class="material-icons">add_box</i><span>NOUVEAU GUICHET</span></button>
        </div>
        <div class="body table-responsive">
            <table class="table table-hover" id="liste-guichet">
                <thead>
                    <tr>
                        <th>NOM GUICHET</th>
                        <th>VALEUR MAX</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="guichet : ${guichets}">
                        <td th:text="${guichet.nom}"></td>
                        <td th:text="${#numbers.formatDecimal(guichet.max,0,'COMMA',0,'POINT')} + ' FCFA'"></td>
                        <td>
                           

                            <button class="btn btn-group-sm btn-primary btn-circle waves-effect waves-circle waves-float btnGetGuichet" th:attr="data-id=${guichet.id}"> 
                                <i class="material-icons">edit</i>
                            </button>

                        </td>
                    </tr>
                </tbody>

            </table>
        </div>


        <!-- modal ajout seceur -->
        <div class="modal fade" id="modalAddGuichet" tabindex="-1"
             role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- <h4 class="modal-title" id="largeModalLabel">Modal title</h4> -->
                    </div>
                    <div class="modal-body">
                        <!-- Basic Validation -->
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>NOUVEAU GUICHET</h2>
                                    </div>
                                    <div class="body">
                                        <form id="formGuichet">
                                            <div class="row clearfix">
                                                
                                                
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <label>Nom du guichet</label>
                                                            <select class="form-control" required="required" id='nomGuichet'>
                                                                <option value="AUTOMATIQUE" selected="selected">Guichet automatique</option>
                                                                <option value="AUTRE">Autre guichet</option>
                                                            </select>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label>Montant max</label>
                                                        <div class="form-line">
                                                            <input type="number" class="form-control" 
                                                                   required="required" id="maxGuichet" />
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <button class="btn btn-primary waves-effect" type="submit">VALIDER</button>
                                            <button type="button" class="btn btn-danger waves-effect"
                                                    data-dismiss="modal">ANNULER</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- modal edit seceur -->
        <div class="modal fade" id="modalEditGuichet" tabindex="-1"
             role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- <h4 class="modal-title" id="largeModalLabel">Modal title</h4> -->
                    </div>
                    <div class="modal-body">
                        <!-- Basic Validation -->
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>MODIFICATION GUICHET</h2>
                                    </div>
                                    <div class="body">
                                        <form id="formGuichetEdit">
                                            <input type="hidden" id="idGuichetEdit" />
                                            <div class="row clearfix">
                                                
                                               <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <label>Nom du guichet</label>
                                                            <select class="form-control" required="required" id='nomGuichetEdit'>
                                                                <option value="AUTOMATIQUE">Guichet automatique</option>
                                                                <option value="AUTRE">Autre guichet</option>
                                                            </select>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label>Montant max</label>
                                                        <div class="form-line">
                                                            <input type="number" class="form-control" 
                                                                   required="required" id="maxGuichetEdit" />
                                                        </div>
                                                    </div>
                                                </div> 

                                            </div>
                                            <button class="btn btn-primary waves-effect" type="submit">VALIDER</button>
                                            <button type="button" class="btn btn-danger waves-effect"
                                                    data-dismiss="modal">ANNULER</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</html>
