<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<!--Debut navbar-->
            <div class="navslide navwrap">
                <div class="ui menu icon borderless grid" data-color="inverted white">
                    <a class="item labeled openbtn">
                        <i class="ion-navicon-round big icon"></i>
                    </a>
                    <a class="item labeled expandit" onclick="toggleFullScreen(document.body)">
                        <i class="ion-arrow-expand big icon"></i>
                    </a>

                    <div class="right menu colhidden">
<!--                        <a th:if="${region != null}" class="item labeled rightsidebar computer only">
                            <span th:text="${'Region : ' + region}"></span>
                        </a>
                        <a th:if="${departement != null}" class="item labeled rightsidebar computer only">
                           <span th:text="${'Departement : ' + departement}"></span>
                        </a>
                        
                        <a th:if="${partenaire != null}" class="item labeled rightsidebar computer only">
                           <span th:text="'Guichet: ' +${partenaire}"></span>
                        </a>-->
                        
                        <a class="item labeled rightsidebar computer only">
                            <span th:text="${'Identifiant: ' + #strings.toUpperCase(#authentication.getPrincipal().getUsername())}"></span>
                        </a>

                        <div class="ui dropdown item">
                            <img class="ui mini circular image" th:src="@{/img/user.png}" alt="label-image" />
                            <div class="menu">
                                <a class="item" th:href="@{/account/changepassword}"><i class="ion-person"></i> Modifier mon mot passe</a>
<!--                                <a class="item" href="profile.html"><i class="ion-person"></i> Profile</a>
                                <a class="item" href="settings.html"><i class="ion-settings"></i> Paramètre</a>-->
                                <div class="ui divider"></div>
                                <a class="item"> <i class="ion-help-circled"></i>  Besoin d'aide</a>
                                <a class="item" th:href="@{/logout}"><i class="ion-log-out"></i> Déconnexion</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin navbar menu-->

</html>