<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

    <div layout:fragment="content">
        <!--debut maincontent-->
        <div class="mainWrap navslide">
            <div class="ui equal width left aligned padded grid stackable">
                <div class="row">
                    <div class="sixteen wide tablet five wide computer column">

                        <div class="ui segment left aligned">

                            <div class="ui  statistic">
                                <!--                                    <div class="value counter">
                                                                        1235
                                                                    </div>-->
                                <div class="value counter" th:text="${demandes}">
                                    0
                                </div>
                                <div class="label">
                                    Demandeurs
                                </div>
                                <i class="icon ion-ios-people brown statisticIcon"></i>
                            </div>

                        </div>
                    </div>

<!--                     <div class="sixteen wide tablet four wide computer column"> -->

<!--                         <div class="ui segment left aligned"> -->

<!--                             <div class="ui  statistic"> -->
<!--                                 <div class="value"> -->
<!--                                                                            <span class="counter">44</span> -->
<!--                                     <span th:text="${departements}">44</span> -->
<!--                                 </div> -->
<!--                                 <div class="label"> -->
<!--                                     Departements -->
<!--                                 </div> -->
<!--                                 <i class="icon ion-location brown statisticIcon"></i> -->
<!--                             </div> -->

<!--                         </div> -->
<!--                     </div> -->
                    <div class="sixteen wide tablet five wide computer column">

                        <div class="ui segment left aligned">

                            <div class="ui  statistic">
                                <!--                                    <div class="value counter">
                                                                      545
                                                                    </div>-->

                                <div class="value counter" th:text="${communes}">0

                                </div>


                                <div class="label">
                                    Commumnes
                                </div>
                                <i class="icon ion-ios-grid-view brown statisticIcon"></i>
                            </div>

                        </div>
                    </div>
                    <div class="sixteen wide tablet five wide computer column">

                        <div class="ui segment left aligned">

                            <div class="ui  statistic">

                                <!--                                    <div class="value counter">
                                                                        15
                                                                    </div>-->

                                <div class="value counter" th:text="${beneficiaires}">0
                                </div>

                                <div class="label">
                                    Bénéficiaires
                                </div>
                                <i class="icon ion-ios-people  brown statisticIcon"></i>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="stretched row">

                    <div class="sixteen wide tablet sixteen wide computer column">
                        <div class="ui segments">
                            <div class="ui segment no-padding-bottom">
                                <h5 class="ui left floated header">
                                    Nouveaux projets
                                </h5>
                               
                                <div class="clearfix"></div>
                            </div>
                            <div class="ui segment left aligned">

                                <table class="ui very basic center aligned  celled table">
                                    <thead>
                                        <tr>
                                            <th th:text="${titre}"></th>
                                            <th>DEMANDES</th>
                                            <th>BENEFICIAIRES</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="view : ${vsdrs}">
                                            <td th:text="${view.titre}"></td>
                                            <td th:text="${view.demandes}"></td>
                                            <td th:text="${view.beneficiares}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="ui inverted dimmer">
                                    <div class="ui text loader">Loading</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
        <!--fin maincontent-->

    </div>
</html>
