<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Lubam</title>
        <link rel="icon" th:href="@{/img/favicon.ico}" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link th:href="@{/semantic/dist/semantic.css}" rel="stylesheet" />
        <link th:href="@{/semantic/dist/modal.min.css}" rel="stylesheet" />
        <link th:href="@{/plugins/ionicons/css/ionicons.min.css}" rel="stylesheet" />
        <link th:href="@{/css/main.css}" rel="stylesheet" />
        <link th:href="@{/plugins/datepicker/css/bootstrap-datepicker.min.css}" rel="stylesheet" />
        <link th:href="@{/plugins/weather-icons/css/weather-icons-wind.min.css}" rel="stylesheet" />
        <link th:href="@{/plugins/weather-icons/css/weather-icons.min.css}" rel="stylesheet" />
        <link th:href="@{/plugins/chartist/chartist.min.css}" rel="stylesheet" />
        <link th:src="@{/plugins/datatable/dataTables.semanticui.css}" rel="stylesheet" />
        <link th:href="@{/plugins/notif/semantic-alert.css}" rel="stylesheet" />
        <link th:href="@{/css/chat-page.css}" rel="stylesheet" />
        <link rel="shortcut icon" th:href="@{/img/favicon.png}" />
    </head>
    <body >
        <!--Debut du dashboard -->
        <div id="contextWrap">
            <!-- debut bloc 1 -->
            <!--  debut Sidebar -->
            <div th:include="sidebar"></div>
            <!--  fin Sidebar -->
            <!-- fin bloc 1 -->

            <!-- debut bloc 2 -->
            <div class="pusher">
                <!--debut navbar -->
                <div th:include="header"></div>
                <!--fin navbar -->
                <!-- fin bloc 2 -->
                <div layout:fragment="content">

                </div>
            </div> <!-- fin bloc 2 -->
        </div><!--fin du dashboard -->

        



        <script th:src="@{/js/jquery-2.1.4.min.js}"></script>
   
        <script th:src="@{/semantic/dist/semantic.min.js}"></script>
      
        <script th:src="@{/plugins/counterup/jquery.counterup.min.js}"></script>
     
    
        <script th:src="@{/plugins/nicescrool/jquery.nicescroll.min.js}"></script>
        <script th:src="@{/js/main.js}"></script>   
        <script th:src="@{/plugins/adress/jquery.address.js}"></script>
        <script th:src="@{/plugins/cookie/js.cookie.js}"></script>
        <script th:src="@{/js/app.min.js}"></script>
        <script th:src="@{/js/customjs/custom-validation.js}"></script>
        <script th:src="@{/js/naturalize.js}"></script>   
        
        <script th:src="@{/plugins/datatable/jquery.dataTables.js}"></script>
        <script th:src="@{/plugins/datatable/dataTables.semanticui.js}"></script>  
        
        <script th:src="@{/js/lubam.js}"></script>
        <script th:src="@{/js/modules/demande-indiv.js}"></script>
        <script th:src="@{/js/modules/users.js}"></script>
        <script th:src="@{/js/modules/partenaire.js}"></script>
        <script th:src="@{/js/modules/secteur.js}"></script>
        <script th:src="@{/js/modules/sousSecteur.js}"></script>
        <script th:src="@{/js/modules/guichet.js}"></script>
        <script th:src="@{/js/modules/demande-to-manage.js}"></script>
        <script th:src="@{/js/djibril.js}"></script>
        <script th:src="@{/plugins/notif/semantic-alert.js}"></script>
       
    </body>
</html>
