<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport" />
        <meta name="generator" content="Visual Studio 2015" />
        <title>Login Lubam</title>
        <meta name="description" content="Stagb Admin Template" />
        <meta name="keywords" content="html5, ,semantic,ui, library, framework, javascript,jquery,template,blog,stagb,template" />
        <link th:href="@{/semantic/dist/semantic.min.css}" rel="stylesheet" />
        <link th:href="@{/css/main.css}" rel="stylesheet" />
        <link th:href="@{/css/style.css}" rel="stylesheet" />
        <link rel="shortcut icon" th:href="@{/img/favicon.png}" />
    </head>

    <body>
        <div class="ui massive menu">
            <a href="#"><img th:src="@{/img/logo-der-fj.png}" alt="stagblogo" style="padding-top:12px;"/></a>
        </div>
        <div class="ui container" style="padding-top:10%">
            <div class="ui grid center aligned">
                <div class="row">
                    <div class="sixteen wide tablet six wide computer column">
                        <div class="ui left aligned segment">

                            <form id="form1" class="ui form" th:action="@{/login}" method="post">

                                <h1 class="ui header center aligned">
                                    <div class="logo">
                                        LÜBAM <br/>
                                        <small>Plateforme DER/FJ</small>

                                    </div>
                                    <br/>
                                    <div class="content">
                                        <p class="error-login" th:if="${param.error}"> 
                                            Nom d'utilisateur ou mot de passe incorrect
                                        </p>
                                    </div>
                                </h1>

                                <div class="field">
                                    <label>
                                        Nom d'utilisateur:
                                    </label>
                                    <div class="ui fluid icon input">
                                        <input name="login" type="text" autocomplete="off" style="width:100%!important;min-width:100%;width:100%;"/>
                                        <i class="icon user outline"></i>
                                    </div>
                                </div>
                                <div class="field">
                                    <label>
                                        Mot de passe:
                                    </label>
                                    <div class="ui fluid icon input">
                                        <input name="motdepasse" type="password" autocomplete="off" style="width:100%!important;min-width:100%;width:100%;"/>
                                        <i class="icon key"></i>
                                    </div>
                                </div>
                                <div class="field">

                                    <button type="submit" class="ui brown right labeled icon button fluid">
                                        CONNEXION
                                        <i class="icon sign in"></i>
                                    </button>
                                </div>
                            </form>

                            <div>
                                <a th:href="@{/users/resetpassword}">mot de passe oublié</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{js/jquery-2.1.4.min.js}"></script>

        <script>
            var colors = ["#D3D3D3"];
            var rand = Math.floor(Math.random() * colors.length);
            $('body').css("background-color", colors[rand]);
        </script>
    </body>

</html>