<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
 <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport" />
    <meta name="generator" content="Visual Studio 2015" />
    <title>Login Lubam</title>
    <meta name="description" content="Stagb Admin Template" />
    <meta name="keywords" content="html5, ,semantic,ui, library, framework, javascript,jquery,template,blog,stagb,template" />
    <link th:href="@{semantic/dist/semantic.min.css}" rel="stylesheet" />
    <link th:href="@{css/main.css}" rel="stylesheet" />
    <link th:href="@{css/style.css}" rel="stylesheet" />
     <link rel="shortcut icon" th:href="@{/img/favicon.png}" />
</head>

<body class="login-page">
           <!-- Top Bar -->
           <nav class="navbar head">
                <div class="container-fluid">
                        <a class="navbar-brand der" th:href="@{/}"><img th:src="@{/images/log_der_fj.png}" alt="logo derfj"/></a>
                </div>
            </nav>
            <!-- #Top Bar -->
    <div class="login-box">
        <div class="logo">
            <a th:href="@{javascript:void(0);}"><b>L&Uuml;BAM</b></a>
            <small>Plateforme DER/FJ</small>
        </div>
        
		<div th:if="${param.error}" class="alert alert-danger">
			Login ou mot de passe incorrecte
		</div>
        <div class="card">
            <div class="body">
                <form id="sign_in" th:action="@{/login}" method="post">
                
                    <div class="msg">Connectez-vous pour démarrer une session</div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" name="login" placeholder="Utilisateur" required="required" autofocus="autofocus"/> 
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" name="motdepasse" placeholder="Mot de passe" required="required" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 p-t-5">
                           <a th:href="@{/user/forgetpassword}">Mot de passe oubli&eacute;</a>
                        </div>
                        
                        <div class="col-xs-6 p-t-5">
                           <a th:href="@{/api/account/reset-password}">Reinitialiser mot de passe</a>
                        </div>
                        
                        <div class="col-xs-6">
                            <button class="btn btn-block bg-brown waves-effect" type="submit">CONNEXION</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>

<script th:src="@{/js/jquery-2.1.4.min.js}"></script>

    <script>
        var colors = ["#D3D3D3"];
        var rand = Math.floor(Math.random() * colors.length);
        $('body').css("background-color", colors[rand]);
    </script>


</html>