<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <!--sidebar-->
    <div id="sidebarBg" class="ui sidebar vertical left menu overlay  borderless visible sidemenu inverted blueM" style="-webkit-transition-duration: 0.1s; transition-duration: 0.1s;" data-color="grey">
        <a class="item logo" href="index.html">
            <img th:src="@{/img/logo.png}" alt="stagblogo" /><img th:src="@{/img/thumblogo.png}" alt="stagblogo" class="displaynone" />
        </a>
        <div class="ui accordion inverted">

            <a class="title item" th:href="@{/}">
                <i class="ion-ios-home titleIcon icon"></i> Accueil
            </a>
            <a sec:authorize="hasRole('ROLE_AGENT')" class="title item" th:href="@{/demande/list}">
                <i class="ion-filing titleIcon icon"></i> Demandes
            </a>
            <a sec:authorize="hasRole('ROLE_ADMIN')" class="title item" th:href="@{/demande/all}">
                <i class="ion-filing titleIcon icon"></i> Demandes
            </a>
            
            <a sec:authorize="hasRole('ROLE_ADMIN')" class="title item" th:href="@{/partenaire/list}">
                <i class="ion-person-stalker titleIcon icon"></i> Partenaires
            </a>
            <a class="title item" th:href="@{/demande/search}">
                <i class="ion-search titleIcon icon"></i> Recherche
            </a>
            <div class="title item" sec:authorize="hasRole('ROLE_ADMIN')">
                <i class="ion-ios-cog-outline titleIcon  icon"></i>

                <i class="dropdown icon"></i> Parametres
            </div>
            <div class="content" sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="item" th:href="@{/users/add}">
                    <i class="users icon"></i>  Utilisateurs
                </a>
                <a class="item" th:href="@{/secteur/list}">
                    <i class="chart pie icon"></i>   Secteurs
                </a>

                <a class="item" th:href="@{/guichet/list}">
                     <i class="square icon"></i>  Guichets
                </a>

            </div>
        </div>
        <!-- fin sidebar menu elargi -->
        <!-- debut sidebar menu petit harburg -->
        <div class="ui dropdown item displaynone scrolling">
            <span>Accueil</span>
            <i class="ion-ios-home icon"></i>

            <div class="menu">
                <div class="header">
                    Accueil
                </div>
                <div class="ui divider"></div>
                <a class="item" th:href="@{/}">
                    Accueil
                </a>
            </div>
        </div>


        <div sec:authorize="hasRole('ROLE_AGENT')" class="ui dropdown item displaynone scrolling">
            <span>Demande</span>
            <i class="ion-filing icon"></i>
            <div class="menu">
                <div class="header">
                    Demande
                </div>
                <div class="ui divider"></div>
                <a class="item" th:href="@{/demande/add}">
                    Demande
                </a>

            </div>
        </div>
        
        
        <div sec:authorize="hasRole('ROLE_ADMIN')" class="ui dropdown item displaynone scrolling">
            <span>Demandes</span>
            <i class="ion-filing icon"></i>
            <div class="menu">
                <div class="header">
                    Demandes
                </div>
                <div class="ui divider"></div>
                <a class="item" th:href="@{/demande/all}">
                    Demandes
                </a>

            </div>
        </div>
        
        
        <div sec:authorize="hasRole('ROLE_ADMIN')" class="ui dropdown item displaynone scrolling">
            <span>Partenaire</span>
            <i class="ion-person-stalker icon"></i>
            <div class="menu">
                <div class="header">
                    Partenaire
                </div>
                <div class="ui divider"></div>
                <a class="item" th:href="@{/partenaire/list}">
                    liste partenaire
                </a>

            </div>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')" class="ui dropdown item displaynone scrolling">
            <span>Recherche</span>
            <i class="ion-search icon"></i>
            <div class="menu">
                <div class="header">
                    Recherche
                </div>
                <div class="ui divider"></div>
                <a class="item" th:href="@{/demande/search}">
                    Recherche simple
                </a>
                <a class="item" href="#">
                    Recherche avancée
                </a>


            </div>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')" class="ui dropdown item displaynone scrolling">
            <span>Paramètre</span>
            <i class="ion-settings icon"></i>
            <div class="menu">
                <div class="header">
                    Paramètre
                </div>
                <div class="ui divider"></div>
                <a class="item" th:href="@{/users/list}">
                    <i class="users icon"></i>  Utilisateurs
                </a>
                <a class="item" th:href="@{/secteur/list}">
                    <i class="chart pie icon"></i>   Secteurs
                </a>

                <a class="item" th:href="@{/guichet/list}">
                    <i class="square icon"></i>  Guichets
                </a>

            </div>
        </div>
    </div>
    <!-- fin sidebar harburg -->
    <!-- fin bloc 1 -->
</html>
