<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

    <div layout:fragment="content">

        <div class="mainWrap navslide">
            <div class="ui equal width left aligned padded grid stackable">
                <div class="stretched row">

                    <div class="sixteen wide tablet sixteen wide computer column">
                        <div class="ui segments">
                            <div class="ui segment no-padding-bottom">

                                <h5 class="ui left floated header">
                                    <div class="ui secondary menu">
                                        <a class="item" th:href="@{/demande/all}"> <i class="large folder icon"></i> Tous </a>
                                        <a class="item" th:href="@{/demande/pending}" ><i class="large spinner icon"></i> En cours</a>
                                        <a class="item" th:href="@{/demande/valided}"><i class="large checkmark icon"></i> Validé(s)</a>
                                        <a class="item" th:href="@{/demande/rejected}"><i class="large close icon"></i>Rejeté(s)</a>
                                    </div>
                                </h5>

                                <div class="clearfix"></div>
                            </div>


                            <div class="ui segment  aligned">

                                <table class="ui fixed single line celled table" id="liste-demande-all">
                                    <thead>
                                        <tr class="full-width">
                                            <th>N <sup>o</sup> Demande</th>
                                            <th>Type Demande</th>
                                            <th>Nom projet</th>
                                            <th>Date creation</th>
                                            <th>Crée par</th>
                                           
                                            <th>Status</th>
                                            <th>Montant demandé</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="demande : ${demandes}">
                                            <td class="collapsing" th:text="${demande.numero}"></td>
                                            <td th:text="${demande.typeDemande}"></td>
                                            <td>Projet 1</td>
                                            <td th:text="${#dates.format(demande.createdDate, 'dd/MM/yyyy - HH:mm')}"></td>
                                            <td th:text="${demande.createdBy}"></td>


                                            <td th:switch="${demande.etat}">

                                                <a th:case="'EN COURS'" class="ui blue  basic label">
                                                    en cours
                                                </a>

                                                <a th:case="'VALIDE'" class="ui green basic label">
                                                    Validé
                                                </a>

                                                <a th:case="*" class="ui red  basic label">
                                                    Rejeté
                                                </a>
                                            </td>
                                            <td th:text="${#numbers.formatDecimal(demande.montant,0,'COMMA',0,'POINT')} + ' FCFA'"></td>
                                            <td>
                                                 <a class="ui vertical animated  basic button brown"
												tabindex="0" th:href="@{'/demande/fiche/'+${demande.id}}">
													<div class="hidden content">Afficher</div>
													<div class="visible content">
														<i class="list icon"></i>
														</div>
													</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>


                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</html>
