<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

    <div layout:fragment="content">

        <div class="mainWrap navslide">
            <div class="ui equal width left aligned padded grid stackable">


                <div class="stretched row">

                    <div class="sixteen wide tablet sixteen wide computer column">
                        <div class="ui segments">   
                            <div class="ui segment no-padding-bottom">

                                    <h5 class="ui left floated header">
                                     <!-- <span class="">09404</span> -->
                                     <div class="ui label"><i class="folder open icon"></i>
                                        Numéro de demande :<div class="detail" th:text="${demande.numero}">00000</div>
                                      </div>
                                      <div class="ui label"><i class="sticky note icon"></i>
                                        Type de projet :<div class="detail" th:text="${demande.typeDemande}">Individuel</div>
                                      </div>
                                    </h5>
                                    <h5 class="ui right floated header">
                                      <i class="undo alternate icon"></i> Mise à jour demande
                                    </h5>
                                    <div class="clearfix"></div>
                                </div>
                            
                            
                            
                            
                            <div class="ui segment  aligned">
                                <div style="border:none;" class="ui tab segment active" data-tab="demande">
                                    <div class="ui top attached tabular menu">
                                        <a class="active item" data-tab="demande/type-projet">Type de projet</a>
                                        <a class="item" id="info-demand" data-tab="demande/info-demandeur">Identification personne</a>
                                        <a class="item" id="info-sp" data-tab="demande/info-sprojet">Informations sur le projet</a>
                                        <a class="item" id="info-dp" data-tab="demande/info-dprojet">Identification projet (suite)</a>
                                        <a class="item" id="rel-if" data-tab="demande/rel-if">Relations avec IF</a>
                                    </div>
                                    <div class="ui bottom attached active tab segment" data-tab="demande/type-projet">
                                        <form class="ui form segment myform" id="form1" style="border: none;">
                                            <input type="hidden" id="idDemande" th:value="${demande.id}"/>
                                            <input type="hidden" id="numeroDemande" th:value="${demande.numero}"/>
                                            
                                            <div class="ui segment">
                                                <div class="ui form">
                                                    <div class="inline fields">
                                                        <label>Quel est votre type de projet ?</label>
                                                        <div class="field">
                                                            <div class="ui radio checkbox">
                                                                <input type="radio" value="individuel"  class="tprojet" name="projet" checked="checked"/>
                                                                <label>Individuel</label>
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <div class="ui radio checkbox">
                                                                <input value="collectif" type="radio" class="tprojet" name="projet" disabled="disabled"/>
                                                                <label>Collectif</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="five fields">
                                                <div class="field">
                                                    <label>Nom du projet</label>
                                                    <div class="ui labeled input">
                                                        <input id="nomprojet" name="amount" type="text" maxlength="15" placeholder="nom du projet" th:value="${demande.nomProjet}"/>
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <label>Fond du projet</label>
                                                    <div class="ui labeled input">
                                                        <div class="ui label">Fcfa</div>
                                                        <input th:value="${demande.montant}" id="amount" name="amount" type="text" maxlength="15" placeholder="Fond" required="required"/>
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <label>Domaines d'activité</label>
                                                    <select class="ui select dropdown" id="dom_act" required="required" onchange="loadSousSecteur('dom_act', 'soussecteur_indiv');">

                                                        <option th:each="secteur : ${secteurs}"
                                                                th:value="${secteur.id}" th:text="${secteur.nom}">
                                                        </option>
                                                    </select>


                                                </div>
                                                <div class="field">
                                                    <label>Choisir le sous secteur <i class="asteris">*</i></label>
                                                    <select class="ui select dropdown" id="soussecteur_indiv">
                                                        <option value="" selected="selected">------------------</option>
                                                    </select>
                                                </div>
                                                <div class="field">
                                                    <label>Joindre votre business plan (pdf)</label>
                                                    <!--  <label for="file" class="ui icon button">
                                                         <i class="file icon"></i>
                                                         Business Plan</label>
                                                     <input type="file" name="file" id="file" style="display:none"> -->

                                                    <div class="ui action input">
                                                        <input type="text" id="business_plan" placeholder="Business plan en format PDF" readonly="readonly" />
                                                        <input type="file" id="inputfile" name="" class="hide"/>
                                                        <button id="btbp" class="ui brown right labeled icon button">
                                                            <i class="attach icon"></i>
                                                            Joindre
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ui clear button">Annuler</div>
                                            <div id="next" class="ui blue submit button">Suivant</div>
                                            <div id="info">

                                            </div>
                                            <div class="ui error message"></div>
                                        </form>
                                    </div>
                                    <div class="ui bottom attached tab segment" data-tab="demande/info-demandeur">
                                        <form class="ui form segment myform2">
                                            <p>(*) Champs obligatoires.</p>
                                            <div class="four fields">
                                                <div class="field">
                                                    <label>Nom <i class="asteris">*</i></label>
                                                    <input placeholder="Nom" name="nom" type="text" id="nomi" th:value="${demande.responsablesDTO[0].nom}"/>
                                                </div>
                                                <div class="field">
                                                    <label>Prénom <i class="asteris">*</i></label>
                                                    <input placeholder="Prénom" name="prenom" type="text" id="prenomi" th:value="${demande.responsablesDTO[0].prenom}"/>
                                                </div>
                                                <div class="field">
                                                    <label>Genre <i class="asteris">*</i></label>
                                                    
                                                    <select class="ui select dropdown" id="sexe">
                                                        
                                                        <option value="HOMME">Masculin</option>
                                                        <option value="FEMME">Féminin</option>
                                                    </select>
<!--                                                    <div class="ui selection dropdown" id="sexe" tabindex="0">
                                                        <input name="genre" type="hidden"/>
                                                        <div class="default text">Sexe</div>
                                                        <i class="dropdown icon"></i>
                                                        <div class="menu" tabindex="-1">
                                                            <div class="item" data-value="HOMME">Masculin</div>
                                                            <div class="item" data-value="FEMME">Féminin</div>
                                                        </div>
                                                    </div>-->
                                                </div>
                                                <div class="field">
                                                    <label>Date de naissance <i class="asteris">*</i></label>
                                                    <div class="ui labeled input">
                                                        <div class="ui label" id="age"></div>
                                                        <input placeholder="Date de naissance" name="date" type="date" id="date-naiss" th:value="${demande.responsablesDTO[0].dateNaissance}"/>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="four fields">
                                                <div class="field">
                                                    <label>Lieu de naissance <i class="asteris">*</i></label>
                                                    <input placeholder="Lieu de naissance" name="lieu" id="lieu" type="text" th:value="${demande.responsablesDTO[0].lieuNaissance}"/>
                                                </div>
                                                <div class="field">
                                                    <label>CIN<i class="asteris">*</i></label>
                                                    <div class="ui labeled input">
                                                        <div class="ui label" id="start-cin"></div>
                                                        <input placeholder="Carte identité nationale" maxlength="13" minlength="12" name="cin" type="text" id="cni" th:value="${demande.responsablesDTO[0].cni}"/>
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <label>Téléphone 1* </label>
                                                    <input type="text" maxlength="9" placeholder="Téléphone 1*" id="tel1" name="tel1" th:value="${demande.responsablesDTO[0].telephone}"/>
                                                </div>
                                                <div class="field">
                                                    <label>Téléphone 2* </label>
                                                    <input type="text" maxlength="9" placeholder="Téléphone 2*" id="tel2" name="tel2" th:value="${demande.telephone1}"/>
                                                </div>
                                            </div>
                                            <div class="four fields">
                                                <div class="field">
                                                    <label>Adresse<i class="asteris">*</i></label>
                                                    <input type="text" placeholder="Adresse*" name="adresse" id="adressei" th:value="${demande.responsablesDTO[0].adresse}"/>
                                                </div>
                                                <div class="field">
                                                    <label>Téléphone proche</label>
                                                    <input type="text" maxlength="9" id="telp" placeholder="Téléphone proche" name="telp" th:value="${demande.telephone3}"/>
                                                </div>
                                                <div class="field">
                                                    <label>Adresse mail</label>
                                                    <input placeholder="monemail@email.com" name="email" type="email"/>
                                                </div>
                                                <div class="field">
                                                    <label>Site web</label>
                                                    <input type="url" placeholder="http://www.monsite.com" name="url" value="http://www.monsite.com"/>
                                                </div>
                                            </div>
                                            <div id="previous1" class="ui grey button">Précédent</div>
                                            <div id="next1" class="ui blue submit button">Suivant</div>
                                            <div id="infotwo">

                                            </div>
                                            <div class="ui error message"></div>
                                        </form>
                                    </div>
                                    <div class="ui bottom attached tab segment" data-tab="demande/info-sprojet">
                                        <form class="ui form segment myform3">
                                            <p>(*) Champs obligatoires.</p>
                                            <div class="field">
                                                <label>Résumé du projet (300 mots)<i class="asteris">*</i></label>
                                                <textarea placeholder="Résumé du projet" name="resume" id="res_projet" cols="3" rows="2" th:text="${demande.description}"></textarea>
                                            </div>
                                            <div class="field">
                                                <label>Principales activités à réaliser <i class="asteris">*</i></label>
                                                <textarea placeholder="Principales activités à réaliser" name="pactivity" id="p_activity" cols="3" rows="2" th:text="${demande.activites}"></textarea>
                                            </div>
                                            <div class="field">
                                                <label>Produits et/ou services à offrir<i class="asteris">*</i></label>
                                                <textarea placeholder="Produits et/ou services" id="p_services" name="pservices" cols="3" rows="2" th:text="${demande.produitsServices}"></textarea>
                                            </div>
                                            <div class="two fields">
                                                <div class="field">
                                                    <div class="inline fields">
                                                        <label>Prospects existants</label>
                                                        <div class="field">
                                                            <div class="ui radio checkbox">
                                                                <input type="radio" name="prospect" th:checked="${demande.prospects}"/>
                                                                <label>Oui</label>
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <div class="ui radio checkbox">
                                                                <input type="radio" name="prospect" th:checked="${!demande.prospects}"/>
                                                                <label>Non</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <div class="inline fields">
                                                        <label>Clients identifiés<i class="asteris">*</i></label>
                                                        <div class="field">
                                                            <div class="ui radio checkbox">
                                                                <input type="radio" name="client" th:checked="${demande.clients}"/>
                                                                <label>Oui</label>
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <div class="ui radio checkbox">
                                                                <input type="radio" name="client" th:checked="${!demande.clients}"/>
                                                                <label>Non</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="two fields">
                                                <div class="field">
                                                    <label>Choix entre fonds et equipements <i class="asteris">*</i></label>
                                                    <div class="ui selection dropdown" id="choix" tabindex="0">
                                                        <input name="choix" type="hidden"/>
                                                        <div class="default text">Fond d'investissement</div>
                                                        <i class="dropdown icon"></i>
                                                        <div class="menu" tabindex="-1">
                                                            <div class="item" data-value="fond-roulement">Fond de roulement</div>
                                                            <div class="item" data-value="equipement">Equipement(s)</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="fond-rl field">
                                                    <label>Fond de roulement</label>
                                                    <input type="text" id="fond-roulm" name="fond" disabled="disabled" readonly="readonly" th:value="${demande.montant}"/>
                                                </div>
                                            </div>
                                            <div class="equipement hide">
                                                <div class="row">
                                                    <button id="addMoreRows" class="ui blueli button">
                                                        <i class="icon add"></i>
                                                        Nouvel equipement
                                                    </button>
                                                </div>
                                                <div id="addedRows"></div>
                                            </div>
                                            <div class="row">
                                                <p>Emplois créés au départ <i class="asteris">*</i></p>
                                            </div>
                                            <div class="three fields">
                                                <div class="field">
                                                    <label>Nombre de femmes <i class="asteris">*</i></label>
                                                    <input type="number" name="nhomme" id="nhomme" th:value="${demande.nombreHomme}"/>
                                                </div>
                                                <div class="field">
                                                    <label>Nombre d'hommes <i class="asteris">*</i></label>
                                                    <input type="number" name="nfemme" id="nfemme" th:value="${demande.nombreFemme}"/>
                                                </div>
                                                <div class="field">
                                                    <label>Total</label>
                                                    <input type="number" name="ntotal" id="ntotal" style="text-align:center; font-weight: 800;" readonly="readonly" disabled="disabled" th:value="${demande.nombreHomme+demande.nombreFemme}"/>
                                                </div>
                                            </div>
                                            <div id="previous2" class="ui grey button">Précédent</div>
                                            <div id="next2" class="ui blue submit button">Suivant</div>
                                            <div id="infothree">

                                            </div>
                                            <div class="ui error message"></div>
                                        </form>
                                    </div>
                                    <div class="ui bottom attached tab segment" data-tab="demande/info-dprojet">
                                        <form class="ui form segment myform4">
                                            <p>(*) Champs obligatoires.</p>
                                            <div class="four fields">
                                                <div class="field">
                                                    <label>Entité <i class="asteris">*</i></label>
                                                    <select class="ui select dropdown" id="forme">
                                                        <option value="PERSONNEPHYSIQUE">Personne Physique</option>
                                                        <option value="PERSONNEMORALE">Personne Morale</option>
                                                    </select>
                                                    
<!--                                                    <div class="ui selection dropdown" tabindex="0">
                                                        <input name="entite" type="hidden"/>
                                                        <div class="default text">Entité</div>
                                                        <i class="dropdown icon"></i>
                                                        <div class="menu" tabindex="-1">
                                                            <div class="item" data-value="personne physique">Personne Physique</div>
                                                            <div class="item" data-value="personne morale">Personne Morale</div>
                                                        </div>
                                                    </div>-->
                                                </div>
                                                <div class="field">
                                                    <label>RCCM </label>
                                                    <input placeholder="Rccm" name="rccm" type="text" id="rccmi" th:value="${demande.rccm}"/>
                                                </div>
                                                <div class="field">
                                                    <label>NINEA </label>
                                                    <input placeholder="ninea" name="ninea" type="text" id="nineai" th:value="${demande.ninea}"/>
                                                </div>
                                                <div class="field">
                                                    <label>Affiliation </label>
                                                    <input placeholder="Affiliation" name="last-name" type="text" id="affiliationi" th:value="${demande.affliation}"/>
                                                </div>
                                            </div>
                                            <div class="three fields">
                                                <div class="field">
                                                    <label>Choisir une région <i class="asteris">*</i></label>
                                                    <select class="ui select dropdown" id="region_indiv" onchange="loadSelectDepartement('region_indiv', 'departement_indiv', 'commune_indiv');" required="required">
                                                        <option value="">----------------------</option>
                                                        <option th:each="r : ${regions}" th:value="${r.id}"
                                                                th:text="${r.nom}"></option>
                                                    </select>
                                                </div>
                                                <div class="field">
                                                    <label>Choisir un département <i class="asteris">*</i></label>
                                                    <select class="ui select dropdown" id="departement_indiv" onchange="loadSelectCommune('departement_indiv', 'commune_indiv');" required="required">

                                                    </select>
                                                </div>
                                                <div class="field">
                                                    <label>Choisir une Commnune <i class="asteris">*</i></label>
                                                    <select class="ui select dropdown" id="commune_indiv" required="required">

                                                    </select>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="fields">
                                                    <div class="inline fields">
                                                        <label>Qualification en adéquation avec l’activité :</label>
                                                        <div class="field">
                                                            <div class="ui checkbox">
                                                                <input type="checkbox" value="aucune" name="qualification"/>
                                                                <label>Aucune</label>
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <div class="ui checkbox">
                                                                <input type="checkbox" value="quotidien" name="qualification"/>
                                                                <label>Activité exercée au quotidien</label>
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <div class="ui checkbox">
                                                                <input type="checkbox" value="professionnel" name="qualification"/>
                                                                <label>Certificat professionnel</label>
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <div class="ui checkbox">
                                                                <input type="checkbox" value="superieur" name="qualification"/>
                                                                <label>Diplômé enseignement sup.</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="fields">
                                                    <div class="inline fields">
                                                        <label>Adéquation entre la compétence et l'activité :</label>
                                                        <div class="field">
                                                            <div class="ui checkbox">
                                                                <input type="checkbox" name="competence"/>
                                                                <label>Aucune</label>
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <div class="ui checkbox">
                                                                <input type="checkbox" name="competence"/>
                                                                <label> Lien avec le diplôme </label>
                                                            </div>
                                                        </div>
                                                        <div class="field">
                                                            <div class="ui checkbox">
                                                                <input type="checkbox" name="competence"/>
                                                                <label>Lien avec l’expérience </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="two fields">
                                                <div class="field">
                                                    <label>Nbre d'années d'experiences en lien avec l'activité <i class="asteris">*</i></label>
<!--                                                    <div class="ui selection dropdown afcach" tabindex="0">
                                                        <input name="nbannee" type="hidden"/>
                                                        <div class="default text">Nombre d'années</div>
                                                        <i class="dropdown icon"></i>
                                                        <div class="menu" tabindex="-1">
                                                            <div class="item" data-value="sans_experience">Sans Expérience</div>
                                                            <div class="item" data-value="moins de 2 ans">Moins de 2 ans</div>
                                                            <div class="item" data-value="de 2 à 5 ans">De 2 à 5 ans</div>
                                                            <div class="item" data-value="plus de 5 ans">Plus de 5 ans</div>
                                                        </div>
                                                    </div>-->

                                                    <select class="ui select dropdown " id="nbre_an">
                                                        <option value="5">Sans Expérience</option>
                                                        <option value="3">Moins de 2 ans</option>
                                                        <option value="2">Sans Expérience</option>
                                                        <option value="1">Plus de 5 ans</option>
                                                    </select>

                                                </div>
                                                <div class="field experience hide">
                                                    <label>Effectifs </label>
                                                    <input placeholder="Effectifs" name="effectif" type="number"/>
                                                </div>
                                            </div>
                                            <div id="previous3" class="ui grey button">Précédent</div>
                                            <div id="next3" class="ui blue submit button">Suivant</div>
                                            <div id="infofour">

                                            </div>
                                            <div class="ui error message"></div>
                                        </form>
                                    </div>
                                    <div class="ui bottom attached tab segment" data-tab="demande/rel-if">
                                        <form class="ui form segment myform5">
                                            <div class="inline fields">
                                                <label>Détention compte au niveau d'une IF</label>
                                                <div class="field">
                                                    <div class="ui radio checkbox">
                                                        <input type="radio" class="affcachcompt" value="oui" name="compte" th:checked="${demande.compteIf}"/>
                                                        <label>Oui</label>
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <div class="ui radio checkbox">
                                                        <input type="radio" class="affcachcompt" value="non" name="compte" th:checked="${!demande.compteIf}"/>
                                                        <label>Non</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="intitut-fin hide">
                                                <div class="ui horizontal divider">Banque</div>
                                                <div class="ui inverted segment" style="padding: 0.5em 1em; background: #d4d4d5;">
                                                    <div class="ui inverted form">
                                                        <div class="four fields">
                                                            <div class="field">
                                                                <input type="text" placeholder="Identification*" name="identification"/>
                                                            </div>
                                                            <div class="field">
                                                                <input type="text" placeholder="Adresse*" />
                                                            </div>
                                                            <div class="field">
                                                                <div class="ui selection dropdown" tabindex="0">
                                                                    <input name="gender" type="hidden"/>
                                                                    <div class="default text">Type de compte</div>
                                                                    <i class="dropdown icon"></i>
                                                                    <div class="menu" tabindex="-1">
                                                                        <div class="item" data-value="courant">Courant</div>
                                                                        <div class="item" data-value="epargne">Epargne</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="field">
                                                                <input type="number" placeholder="Montant*" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ui horizontal divider">Poste</div>
                                                <div class="ui inverted segment" style="padding: 0.5em 1em; background: #d4d4d5;">
                                                    <div class="ui inverted form">
                                                        <div class="four fields">
                                                            <div class="field">
                                                                <input type="text" placeholder="Identification*" name="identification"/>
                                                            </div>
                                                            <div class="field">
                                                                <input type="text" placeholder="Adresse*" />
                                                            </div>
                                                            <div class="field">
                                                                <div class="ui selection dropdown" tabindex="0">
                                                                    <input name="gender" type="hidden"/>
                                                                    <div class="default text">Type de compte</div>
                                                                    <i class="dropdown icon"></i>
                                                                    <div class="menu" tabindex="-1">
                                                                        <div class="item" data-value="courant">Courant</div>
                                                                        <div class="item" data-value="epargne">Epargne</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="field">
                                                                <input type="number" placeholder="Montant*"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="ui horizontal divider">SFD (Systéme Financier Décentralisé)</div>
                                                <div class="ui inverted segment" style="padding: 0.5em 1em; background: #d4d4d5;">
                                                    <div class="ui inverted form">
                                                        <div class="four fields">
                                                            <div class="field">
                                                                <input type="text" placeholder="Identification*" name="identification"/>
                                                            </div>
                                                            <div class="field">
                                                                <input type="text" placeholder="Adresse*"/>
                                                            </div>
                                                            <div class="field">
                                                                <div class="ui selection dropdown" tabindex="0">
                                                                    <input name="gender" type="hidden"/>
                                                                    <div class="default text">Type de compte</div>
                                                                    <i class="dropdown icon"></i>
                                                                    <div class="menu" tabindex="-1">
                                                                        <div class="item" data-value="courant">Courant</div>
                                                                        <div class="item" data-value="epargne">Epargne</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="field">
                                                                <input type="number" placeholder="Montant*" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inline fields">
                                                <label>Crédit en cours auprès d'une IF</label>
                                                <div class="field">
                                                    <div class="ui radio checkbox">
                                                        <input type="radio" class="affcachcred" name="credit" value="oui" th:checked="${demande.creditIf}"/>
                                                        <label>Oui</label>
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <div class="ui radio checkbox">
                                                        <input type="radio" class="affcachcred" name="credit" value="non" th:checked="${!demande.creditIf}"/>
                                                        <label>Non</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="creditif hide">
                                                <div class="three fields">
                                                    <div class="field">
                                                        <label>Banque / EF/ IOB<i class="asteris">*</i></label>
                                                        <input placeholder="Banque / EF/ IOB*" class="bankef" name="bankef" type="text"/>
                                                    </div>
                                                    <div class="field">
                                                        <label>SFD <i class="asteris">*</i></label>
                                                        <input placeholder="sfd" name="sfd" type="text"/>
                                                    </div>
                                                    <div class="field">
                                                        <label>Montant prêt <i class="asteris">*</i></label>
                                                        <input placeholder="montant-pret" name="montant-pret" type="number"/>
                                                    </div>
                                                </div>
                                                <div class="inline fields">
                                                    <div class="field">
                                                        <div class="ui radio checkbox">
                                                            <input type="radio" name="justif" checked="checked"/>
                                                            <label>Crédit entièrement payé</label>
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <div class="ui radio checkbox">
                                                            <input type="radio" name="justif"/>
                                                            <label>Crédit en cours et à jour</label>
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <div class="ui radio checkbox">
                                                            <input type="radio" name="justif"/>
                                                            <label>Crédit en cours et en retard</label>
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <label>Justification du retard <i class="asteris">*</i></label>
                                                        <textarea name="" id="justif-retard-credit" cols="2" rows="2"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inline fields">
                                                <label>Bénéficiaire d'un financement</label>
                                                <div class="field">
                                                    <div class="ui radio checkbox">
                                                        <input type="radio" class="benefinanc" value="oui" name="beneficiare" th:checked="${demande.financement}"/>
                                                        <label>Oui</label>
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <div class="ui radio checkbox">
                                                        <input type="radio" class="benefinanc" value="non" name="beneficiare" th:checked="${!demande.financement}"/>
                                                        <label>Non</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="infobenef hide">
                                                <div class="five fields">
                                                    <div class="field">
                                                        <label>Projet/Programme <i class="asteris">*</i></label>
                                                        <input placeholder="Projet/Programme *" name="" type="text"/>
                                                    </div>
                                                    <div class="field">
                                                        <label>Destination convenue <i class="asteris">*</i></label>
                                                        <input placeholder="Destination convenue *" name="dest" type="text"/>
                                                    </div>
                                                    <div class="field">
                                                        <label>Montant de financement <i class="asteris">*</i></label>
                                                        <input placeholder="Montant de financement" name="last-name" type="number"/>
                                                    </div>
                                                    <div class="field">
                                                        <label>Date convenue<i class="asteris">*</i></label>
                                                        <input placeholder="Date convenue" name="date-convenue" type="date" id="date-conv"/>
                                                    </div>
                                                </div>
                                                <div class="inline fields">
                                                    <label>Respect de la destination du financement</label>
                                                    <div class="field">
                                                        <div class="ui radio checkbox">
                                                            <input type="radio" name="r-dest" checked="checked"/>
                                                            <label>Oui</label>
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <div class="ui radio checkbox">
                                                            <input type="radio" name="r-dest"/>
                                                            <label>Non</label>
                                                        </div>
                                                    </div>
                                                    <div class="field">
                                                        <label>Justification du retard <i class="asteris">*</i></label>
                                                        <textarea name="" id="justif-retard-credit" cols="2" rows="2"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="previous4" class="ui grey button">Précédent</div>
                                            <div id="valid" class="ui blue submit button">Valider</div>
                                            <div id="infofive">

                                            </div>
                                            <div class="ui error message" id="err-mess-relif"></div>


<!--                                            <button type="submit" id="test">Test Envoi</button>-->


                                        </form>
                                    </div>
                                </div>
                                <div class="ui tab segment" data-tab="liste">
                                    Liste des demandes
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</html>
