<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

    <div layout:fragment="content">
       <div class="mainWrap navslide">
            <div class="ui equal width left aligned padded grid stackable">


                <div class="stretched row">

                    <div class="sixteen wide tablet sixteen wide computer column">
                        <div class="ui segments">
						<div class="ui segment no-padding-bottom">

							<h5 class="ui right floated header">
								<button class="ui button red" onclick="printContent('demande')"><i class="print icon"></i>Imprimer</button>
							</h5>
							<div class="clearfix"></div>
						</div>
						  <div id="demande" class="ui segment  aligned">
						   
						  <!-- DEBUT CONTENU -->
						  
						    <h4 class="ui header">
              <i class="user icon"></i>
              <div class="content">
                  Information sur le porteur du projet   

              </div>
             
            </h4> <hr class="ui divider"/>
            <div class="ui grid" >
              <div class="four wide column"><strong>Nom  : </strong><span th:text="${#strings.toUpperCase(responsable.nom)}"></span></div>
              <div class="four wide column"><strong>Prenom  : </strong><span th:text="${#strings.toUpperCase(responsable.prenom)}"></span></div>
              <div class="four wide column"><strong>Genre: </strong> <span th:text="${#strings.toUpperCase(responsable.sexe)}"></span></div>
              <div class="four wide column"><strong>Date de naissance: </strong> <span th:text="${#dates.format(responsable.dateNaissance, 'dd/MM/yyyy')}"></span></div>
              <div class="four wide column"><strong>CNI</strong>: <span th:text="${responsable.cni}"></span></div>
              <div class="four wide column"><strong>Telephone 1</strong>: <span th:text="${responsable.telephone}"></span></div>
              <div class="four wide column"><strong>Telephone 2</strong>: <span th:text="${demande.telephone2}"></span></div>
              <div class="four wide column"><strong> Adresse :</strong> <span th:text="${responsable.adresse}"></span></div>
              <div class="four wide column"><strong>Telephone proche</strong>: <span th:text="${demande.telephone3}"></span></div>
              <div class="four wide column"><strong>Email :</strong> <span th:text="${demande.email}"></span></div>
              <div class="four wide column"><strong>Site web :</strong></div>

            </div>
            <!--  information sur le projet-->
						    <!--  information sur le projet-->
            <h4 class="ui header">
              <i class="folder open  icon"></i>
              <div class="content">
                Information sur le projet
              </div>
            </h4> <hr class="ui divider"/>
            <div class="ui grid">
              
                <div class="eight wide column">
                  <strong>Numéro projet :</strong><br/>
                  <span class="" style="background-color: #ccc;" th:text="${demande.numero}"></span>
                </div>
                   <div class="eight wide column">
                  <strong>Résumé du projet (300 mots) :</strong><br/>
                  <p th:text="${demande.description}"></p>
                </div>
             
          
                <div class="eight wide column">
                  <strong>Principales activités à réaliser:</strong> <br/>
                  <p th:text="${demande.activites}"></p>
                </div>
           
            
                <div class="eight wide column">
                  <strong>Produits et/ou services à offrir :</strong><br/>
                  <p th:text="${demande.produitsServices}"></p>
                </div>
             
              <div class="row">
                <div class="ui  column grid">
                  <div class="three column row">
                    <div class="column"><strong>Prospects existants :</strong> <span th:text="${demande.prospects}? oui:non" ></span> </div>
                    <div class="column"><strong>Clients identifiés  :</strong>  <span th:text="${demande.clients}? oui:non" ></span></div>
                    <div class="column"><strong>Fonds :</strong>  <span style="background-color: #ccc;" th:text="${#numbers.formatInteger(demande.montant,3,'POINT')}" ></span> cfa </div>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="column">
                  <strong>Equipements :</strong><br/>
                  <table class="ui fixed single line celled table">
                    <thead>
                      <tr>
                            <th>Fournisseur</th>
                        <th>Libelle</th>
                        <th>Prix unitaire</th>
                        <th>Quantite</th>
                        <th>Total</th>

                      </tr></thead>
                      <tbody>

                        <tr th:each="equipement : ${equipements}">
                          <td th:text="${equipement.fournisseur}"></td>
                          <td th:text="${equipement.type}"></td>
                          <td th:text="${#numbers.formatInteger(equipement.prixUnitaire,3,'POINT')}"></td>
                          <td th:text="${equipement.quantite}"></td>
                         
                            <td th:text="${#numbers.formatInteger(equipement.prixUnitaire*equipement.quantite,3,'POINT')}"></td>


                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="ui  column grid">
                     <strong>Emplois créés au départ :</strong>
                    <div class="three column row">
                      <div class="column"><strong>Nombre de femmes :</strong> <span th:text="${demande.nombreFemme}" ></span></div>
                      <div class="column"><strong>Nombre d'hommes  :</strong> <span th:text="${demande.nombreHomme}" ></span></div>
                      <div class="column"><strong>Total : </strong><span th:text="${demande.nombreHomme + demande.nombreFemme}" ></span> </div>
                    </div>

                  </div>
                </div>
              </div>
              <!--  fin inforamtion sur le projet-->
						  
						    <!--  Information du projet-->
              <h4 class="ui header">
                <i class="folder icon"></i>
                <div class="content">
                  Information du projet
                </div>
              </h4> <hr class="ui divider"/>
              <div class="ui grid">
                <div class="four wide column"><strong>Entité :</strong> <span th:text="${demande.formeJuridique}" ></span> </div>
                <div class="four wide column"><strong>RCCM</strong>:<span th:text="${demande.rccm}" ></span> </div>
                <div class="four wide column"><strong>NINEA</strong>: <span th:text="${demande.ninea}" ></span></div>
                <div class="four wide column"><strong>Affiliation :</strong> <span th:text="${demande.affliation}" ></span></div>
                <div class="four wide column"><strong>Région</strong>:<span th:text="${region}" ></span></div>
                <div class="four wide column"><strong>Departement</strong>: <span th:text="${departement}" ></span></div>
                <div class="four wide column"><strong>Commun</strong>: <span th:text="${commune}" ></span></div>
                <div class="four wide column"><strong> Secteur</strong>: <span th:text="${secteur}" ></span></div>
                <div class="row">
                  <div class="ui  column grid">

                    <div class="four column row">
                      <div class="column"><strong>Qualification en adéquation avec l'activité:</strong> Oui</div>
                        <div class="column"><strong>Activité exercée au quotidien:</strong> Oui</div>
                          <div class="column"><strong>Certificat professionnel:</strong> Oui</div>
                            <div class="column"><strong>Diplômé enseignement sup.</strong>Oui</div>

                    </div>
                    <div class="three column row">
                      <div class="column"><strong>Adéquation entre la compétence et l'activité :</strong> Oui</div>
                        <div class="column"><strong>Lien avec le diplôme:</strong> Non</div>
                        <div class="column"><strong>Lien avec l’expérience:</strong> Non</div>


                    </div>
                    <div class="one column row">
                      <div class="column"><strong>Nombre d'années d'experiences en lien avec l'activité :</strong> 10 ans</div>



                    </div>

                  </div>
                </div>
              </div>
              <!--  fin information du projet-->
						  <!-- FIN CONTINU -->
						  
						  
						  
						  
						  </div>
					</div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        
        </html>