<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutForm">
<div th:fragment="demande/recu"></div>
<div layout:fragment="content">

	<div class="mainWrap navslide">
		<div class="ui equal width left aligned padded grid stackable">
			<div class="stretched row">

				<div class="sixteen wide tablet sixteen wide computer column">
					<div class="ui segments">
						<div class="ui segment no-padding-bottom">

							<h5 class="ui left floated header">
								<div class="ui secondary menu">
									<a data-tab="demande" class="item active"><i class="folder open  icon"></i>Nouvelle demande</a>
									<a data-tab="liste" class="item"><i class="list icon"></i> liste des demandes</a>
								</div>
							</h5>

							<div class="clearfix"></div>
						</div>


						<div class="ui segment  aligned">
							<div style="border: none;" class="ui tab segment active"
								data-tab="demande">
								<div th:include="demande/add"></div>
							</div>
							<div style="border: none;" class="ui tab segment "
								data-tab="liste">
								<table class="ui compact celled table tablet stackable" style="width: 100%" id="liste-demande-listagent">
									<thead>
										<tr class="full-width">
											<th>N <sup>o</sup> Demande
											</th>
											<th>Nom du projet</th>
											<th>Type Demande</th>
											<th>Date creation</th>
											<th>Status</th>
											<th>Montant demandé</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="demande : ${demandes}">
											<td class="collapsing" th:text="${demande.numero}"></td>
											<td th:text="DJIBRIL"></td>
											<td th:text="${demande.typeDemande}"></td>
											<td
												th:text="${#dates.format(demande.createdDate, 'dd/MM/yyyy - HH:mm')}"></td>


											<td th:switch="${demande.etat}"><a th:case="'EN COURS'"
												class="ui blue basic label"><i class="spinner icon"></i>  en cours </a> <a
												th:case="'VALIDE'" class="ui green  basic label">
													<i class=" checkmark icon"></i> Validé </a> <a th:case="*" class="ui red  basic label">
													<i class=" close icon"></i>  Rejeté </a></td>
											<td
												th:text="${#numbers.formatDecimal(demande.montant,0,'COMMA',0,'POINT')} + ' FCFA'"></td>
											<td >
											 <button class="ui vertical animated  basic button brown btnprint"
												tabindex="0" th:attr="data-id=${demande.id}">
													<div class="hidden content">Reçu</div>
													<div class="visible content">
														<i class="print icon"></i>
													</div>
											</button>
											
											<a class="ui vertical animated  basic button brown"
												tabindex="0" th:if="${demande.etat == 'EN COURS'}"
												th:href="@{'/demande/edit/'+${demande.id}}">
													<div class="hidden content">Modifie</div>
													<div class="visible content">
														<i class="edit icon"></i>
													</div>
											</a> 
											<a class="ui vertical animated  basic button brown"
												tabindex="0" th:href="@{'/demande/fiche/'+${demande.id}}">
													<div class="hidden content">Afficher</div>
													<div class="visible content">
														<i class="list icon"></i>
													</div>
											</a></td>
										</tr>
									</tbody>
								</table>
							</div>

						</div>

					</div>
				</div>

			</div>

		</div>
	</div>

</div>
</html>
