<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

    <div layout:fragment="haut">

        <div class="block-header">
            <h2>
                <i class="material-icons">group</i><span>LISTE DES
                    DEMANDES A VALIDER</span>
            </h2>
        </div>
    </div>

    <div layout:fragment="content">

        <div class="header">

        </div>
        <div class="body table-responsive">
            <form id="formDemandeListToValide">

                <table class="table table-condensed table-striped" id="liste-demande">
                    <thead>
                        <tr>
                            <th>#DOSSIER</th>
                            <th>TYPE</th>
                            <th>STATUS</th>
                            <th>MONTANT</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')">SCORE</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')">ACTION</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')">SELECTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="demande : ${demandes}">
                            <td th:text="${demande.numero}"></td>
                            <td th:text="${demande.typeDemande}"></td>
                            <td th:class=" ${demande.etat == 'VALIDE'?'badge bg-cyan' : 'badge bg-red'}" th:text="${demande.etat}"></td>
                            <td th:text="${#numbers.formatDecimal(demande.montant,0,'COMMA',0,'POINT')} + ' FCFA'"></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')" th:text="${demande.score}"></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')">
                                <button class="btn btn-danger btn-circle waves-effect waves-circle waves-float btnDeleteDemande" th:attr="data-id=${demande.id}"> 
                                    <i class="material-icons">delete</i>
                                </button>

                                <button class="btn btn-primary btn-circle waves-effect waves-circle waves-float btnGetDemande" th:attr="data-id=${demande.id}"> 
                                    <i class="material-icons">edit</i>
                                </button>

                                <a style="margin-left: 1px" class="btn btn-warning btn-circle waves-effect waves-circle waves-float"
                                   th:href="@{'/demande/fiche/'+${demande.id}}">
                                    <i class="material-icons">visibility</i>
                                </a>
                                
                            </td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')">
                                <input class="form-check-input" type="checkbox" name="optionSelected" th:value="${demande.id}"/>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
<!--                     <br/>-->
                    <button name="valider" class="btn btn-primary waves-effect" type="submit">
                                   <i class="material-icons">done</i>
                                   <span>Valider</span>
                    </button>
                    
                    <button id="rejeter_liste_demande" type="button" class="btn bg-red waves-effect pull-right">
                                   <i class="material-icons">call_missed_outgoing</i>
                                   <span>Rejeter</span>
                    </button>
                    <br/>
                    
                    
                        
<!--                    <button name="valider" class="btn btn-primary waves-effect" type="submit">VALIDER LA LISTE SELECTIONN&Eacute;</button>-->
<!--                    <button id="rejeter_liste_demande" class="btn btn-danger waves-effect">REJETER LA LISTE SELECTIONN&Eacute;</button>-->
                    </tfoot>
                    <br/>
                </table>

            </form>
        </div>


        <!--        debut modal edit -->
<!--        <div class="modal fade" id="modalEditIndividuel" tabindex="-1"
             role="dialog">


            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                         <h4 class="modal-title" id="largeModalLabel">Modal title</h4> 
                    </div>
                    <div class="modal-body">
                         Basic Validation 
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>MODIFICATION DEMANDE</h2>
                                    </div>
                                    <div class="body">
                                        <form id="formDemandeEdit">
                                            <input type="hidden" id="idDemandeEdit" />

                                            <div class="row clearfix">
                                                <div class="col-sm-4"> 
                                                    <div class="form-group form-float">
                                                        <div class="form-line">
                                                            <select id="formeJuridique_indivEdit" class="form-line"> 
                                                                <option value="PERSONNEPHYSIQUE">Personne physique</option>
                                                                <option value="PERSONNEMORALE">Personne morale</option>
                                                            </select>
                                                        </div> 
                                                        <div class="help-info">Forme juiridique</div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4"> 
                                                    <div class="form-group form-float">


                                                        <div class="form-line">
                                                            <input type="text" id="ninea_indivEdit" /> 
                                                        </div>
                                                        <div class="help-info">Ninea</div>
                                                    </div>
                                                </div>




                                                <div class="col-sm-4"> 
                                                    <div class="form-group form-float">


                                                        <div class="form-line">
                                                            <input type="text" id="rccm_indivEdit" /> 
                                                        </div>
                                                        <div class="help-info">Rccm</div>
                                                    </div>  
                                                </div>


                                                <div class="col-sm-4"> 
                                                    <div class="form-group form-float">
                                                        <div class="form-line">

                                                            <input type="text" id="affliation_indivEdit" /> 
                                                        </div>
                                                        <div class="help-info">Affliation</div>
                                                    </div> 
                                                </div>

                                            </div>

                                            <div class="row clearfix">
                                                <textarea id="description_indivEdit" required="required"></textarea>
                                            </div>

                                            <div class="row clearfix">
                                                <h2 class="card-inside-title">Localisation du projet</h2>
                                                <div class="col-sm-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line">
                                                            <select id="region_indivEdit" class="form-control show-tick" required="required">
                                                                <option value="" selected="selected">Région</option>
                                                                <option th:each="region : ${regions}" th:value="${region.id}" th:text="${region.nom}"></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="col-sm-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line">
                                                            <select id="departement_indivEdit" class="form-control show-tick" required="required">


                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line">
                                                            <select id="commune_indivEdit" class="form-control show-tick" required="required">


                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>   
                                            </div>


                                            <button class="btn btn-primary waves-effect" type="submit">VALIDER</button>
                                            <button type="button" class="btn btn-danger waves-effect"
                                                    data-dismiss="modal">ANNULER</button>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>-->

        <!--        end modal edit-->
        
        <div class="modal fade" id="modalEditIndividuel" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <a href="#" id="close_collect" data-dismiss="modal" class="class pull-right wizard_form"><span style="color:#b92c2c;" class="btn btn-default btn-circle waves-effect waves-circle waves-float"><i class="material-icons">cancel</i></span></a>
                            </div>
                            <div class="modal-body">
                        <!-- Advanced Form Example With Validation -->
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="card card_md">
                                        <div class="header">
                                            <h2>PROJET EDITÉ</h2>
                                        </div>
                                        <div class="body">
                                            <form id="formDemandeEdit" method="POST">
                                                <div class="row clearfix">
                                                        <input type="hidden" id="idDemandeEdit" />
                                                        <div class="row clearfix">
                                                            <div class="col-sm-3"> 
                                                                <div class="form-group form-float">
                                                                    <div class="form-line">
                                                                        <select id="formeJuridique_indivEdit" class="form-control show-tick forme"> 
                                                                            <option value="PERSONNEPHYSIQUE">Personne physique</option>
                                                                            <option value="PERSONNEMORALE">Personne morale</option>
                                                                        </select>
                                                                    </div> 
                                                                    <div class="help-info">Forme juiridique</div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3"> 
                                                                <div class="form-group form-float">
                                                                    <div class="form-line">
                                                                        <input type="text"  class="form-control" id="ninea_indivEdit" /> 
                                                                    </div>
                                                                    <div class="help-info">Ninea</div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3"> 
                                                                <div class="form-group form-float">
                                                                    <div class="form-line">
                                                                        <input type="text" class="form-control" id="rccm_indivEdit" /> 
                                                                    </div>
                                                                    <div class="help-info">Rccm</div>
                                                                </div>  
                                                            </div>
                                                            <div class="col-sm-3"> 
                                                                <div class="form-group form-float">
                                                                    <div class="form-line">
                                                                        <input type="text" class="form-control" id="affliation_indivEdit" /> 
                                                                    </div>
                                                                    <div class="help-info">Affliation</div>
                                                                </div> 
                                                            </div>
            
                                                        </div>
            
                                                        <div class="row clearfix">
                                                            <div class="col-sm-12">
                                                                    <div class="form-group form-float">
                                                                        <div class="form-line">
                                                                            <textarea name="text" id="description_indivEdit" cols="30" rows="3" placeholder="Résumé du projet (300 mots)*" class="form-control no-resize" required="required"></textarea>
                                                                        </div>
                                                                    </div>
                                                                    <div class="help-info">Affliation</div>
                                                                </div>
                                                        </div>
                                                        <div class="row clearfix">
                                                                <div class="col-sm-12">
                                                            <button type="submit" class="btn btn-info waves-effect"><i class="material-icons">save</i><span>VALIDER</span></button>
                                                            <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal"><i class="material-icons">clear</i><span>ANNULER</span></button>
                                                        </div>
                                                        </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        

    </div>   
</html>
