<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

    <div layout:fragment="content">
        
    <!--debut maincontent-->
      <div class="mainWrap navslide">
        <div class="ui equal width left aligned padded grid stackable">

          <div class="row">
            <div class="sixteen wide tablet five wide computer column">

              <div class="ui segment left aligned">

                <div class="ui  statistic">
                  <div class="value counter">
                    1235
                  </div>
                  <div class="label">
                    Demandeurs
                  </div>
                  <i class="icon ion-ios-people brown statisticIcon"></i>
                </div>

              </div>
            </div>
            <div class="sixteen wide tablet five wide computer column">

              <div class="ui segment left aligned">

                <div class="ui  statistic">

                  <div class="value counter">
                    15
                  </div>
                  <div class="label">
                    Bénéficiaires
                  </div>
                  <i class="icon ion-ios-people  brown statisticIcon"></i>
                </div>

              </div>
            </div>

            <div class="sixteen wide tablet five wide computer column">

              <div class="ui segment left aligned">

                <div class="ui  statistic">
                  <div class="value counter">
                    545
                  </div>
                  <div class="label">
                    Commumnes
                  </div>
                  <i class="icon ion-ios-grid-view brown statisticIcon"></i>
                </div>

              </div>
            </div>

          </div>

          <div class="stretched row">

            <div class="sixteen wide tablet sixteen wide computer column">
              <div class="ui segments">
                <div class="ui segment no-padding-bottom">
                  <!-- rechercher un projet -->
                  <form  class="ui form" th:action="@{/demande/filtre}" method="get">
                      
                    <h4 class="ui dividing header">Rechercher un projet</h4>
                    <div class="four fields">
                      <div class="field">
                        <label>N <sup>o</sup> projet</label>
                        <input type="text" name="numero" placeholder="Numero projet"/>
                      </div>
                      <div class="field">
                        <label>cni porteur du projet</label>
                        <input type="text" name="cni" placeholder="cni porteur projet"/>
                      </div>
                      <div class="field">
                        <label>Téléphone porteur du projet</label>
                        <input type="text" name="telephone" placeholder="cni porteur projet"/>
                      </div>
                      <div class="field">
                        <br> 
                        </br> 
                        <button type="submit"  class="ui button grey"> <i class="search icon"></i>Lancer la recherche</button>
                      </div>
                    </div>

                  </form>



                  <table class="ui compact celled definition table tablet stackable">
                    <thead class="full-width">
                      <tr>
                        <th>N <sup>o</sup> projet</th>
                        <th>Nom projet</th>
                        <th>Date creation</th>
                        <th>Commune</th>
                        <th>Secteur</th>
                        <th>Accept</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:object="${demandes}">
                        <td colspan="8" style="text-align:center;">résultats de la recherche</td>
<!--                        <td th:text="*{numero}"></td>
                      
                        <td th:text="${demandes.numero}"></td>
                        <td th:text="${demandes.numero}"></td>
                        -->

                      </tr>
                    </tbody>
                  
                </table>
                </div>
              </div>

            </div>

          </div>
        </div>
        <!--fin maincontent-->
    </div>
    </div>
</html>
