<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!--   <link th:href="@{/semantic/dist/semantic.css}" rel="stylesheet" /> -->
<!--         <link th:href="@{/semantic/dist/modal.min.css}" rel="stylesheet" /> -->
<!--         <link th:href="@{/plugins/ionicons/css/ionicons.min.css}" rel="stylesheet" /> -->
<!--         <link th:href="@{/css/main.css}" rel="stylesheet" /> -->


</head>
<style>
html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	background: #fff;
	font-family: Arial, 'Sans Serif', 'Time News Romain', font-size : 10pt;
}

table {
	width: 100%;
	margin: 0 auto;
	text-align: left;
	border-collapse: collapse;
}

th {
	padding-left: 2px;
}

td {
	padding: 2px;
	text-align: center;
}

.aeu {
	font-size: 15px;
}

.line-top {
	border-left: 1px solid;
	padding-left: 10px;
	font-family: 'time news romain', 'Khmer OS Muol Light';
	font-size: 15px;
}

.verify {
	font-family: 'time news romain', 'Khmer OS Muol Light';
}

.imgAeu {
	width: 100px;
	height: 120px;
}

.th {
	background-color: #ddd;
	border: 1px solid;
	text-align: center;
}

.line-row {
	background-color: #fff;
	border: 1px solid;
	text-align: center;
}

#container {
	width: 100%;
	margin: 0 auto;
}

.khm-os {
	font-family: 'time news  romain'
}

.divide {
	width: 100%;
	margin: 0 auto;
}

hr {
	width: 100%;
	margin-right: 0;
	margin-left: 0;
	padding: 0;
	margin-bottom: 20px;
	margin-top: 35px border:0 none;
	border-top: 1px dashed #322f32;
	background: none;
	height: 0;
}

button {
	margin: 0 auto;
	text-align: center;
	height: 100%;
	width: 100%;
	cursor: pointer;
	font-weight: bold;
}

.lenghth-limit {
	max-height: 350px;
	min-height: 350px;
}

.div-button {
	width: 100%;
	height: 50px;
	margin-top: 0px;
	text-align: center;
	margin-bottom: 10px;
	border-bottom: 1px solid;
	background: #ccc;
}
</style>

<body>

	  <div id="container">
	     <div class="lenghth-limit">
	        <table>
	          <tr style="padding-left:40px;width:50px;">
	             <td> <img th:src="@{/img/logo.png}" alt="stagblogo"  /></td>
	             <td class="aeu"> 
	             	<H3>Recu enrolement </H3>
	             	
	             </td>
	             <td class="line-top"> 
	             <b>Délégation générale <br/>à l'entreprenariat rapide des femmes <br/>et des jeunes </b>
	             	
	             </td>
	          
	          </tr>
	          <tr>
	            <td colspan="2" style="text-align:left;"></td>
	             <td colspan="0" style="text-align:center;padding-left: 50px;">
	              N <sup>o</sup> recu: <span class=""  th:text="${demande.numero}"></span>
	             </td>
	            
	          </tr>
	         
	            <tr>
	            <td colspan="2" style="text-align:left;"></td>
	             <td colspan="0" style="text-align:center;padding-left: 50px;">
	              <b>Date: </b><span class=""  th:text="${#dates.format(#dates.createNow(),'YYYY/MM/dd HH:mm')}"></span>
	             </td>
	            
	          </tr>
	        
	        </table><br/><br/>
	        <!-- donneee -->
	        <table>
	          <tr>
	            <td style="width: 120px;padding: 5px 0px">
	             <b> Prenom et Nom : </b><span th:text="${#strings.toUpperCase(responsable.nom)}"></span> <span th:text="${#strings.toUpperCase(responsable.prenom)}"></span>
	            </td>
	             <td></td>
	              </tr>
	                <tr>
	             <td style="width: 120px;padding: 5px 0px">
	              <b>Date de naissance :</b> <span th:text="${#dates.format(responsable.dateNaissance, 'dd/MM/yyyy')}"></span>
	            </td>
	            <td style="width: 120px;padding: 5px 0px">
	               Téléphone: <b> <span th:text="${#strings.toUpperCase(responsable.telephone)}"></span></b>
	            </td>
	          </tr>
	          
	        
	        </table>
	        <table>
	          <thead>
	           <tr>
	             
	             <th class="th" style="text-align:center;">Nom du projet</th>
	             <th  class="th">Type projet</th>
	             <th  class="th">Montant (CFA) </th>
	           </tr>
	          </thead>
	          <tbody>
	          <tr>
	            <td class="line-row">  <p th:text="${demande.description}"></p></td>
	           <td class="line-row">  <p th:text="${demande.typeDemande}"></p></td>
	            <td class="line-row"> <span  th:text="${#numbers.formatInteger(demande.montant,3,'POINT')}" ></span> cfa 
                  </td>
	          </tr>
	        
	          
	          </tbody>
	        </table>
	        <table>
	          <tr>
	            <td  >
	             <b class="verify"> Note: </b><br/> <p style="display: inline-block;">MESSAGE SUR LE RECU</p>
	            </td>
	             <td >
	             
	            </td>
	            <td >
	            <b> Imprimer  Par:  </b><br/><span th:text="${ #strings.toUpperCase(#authentication.getPrincipal().getUsername())}"></span>
	            </td>
	          </tr>
	          
	        
	        </table>
	     </div><br/><br/><br/><br/><br/>
	     
	       <table>
	          <tr>
	            <td style="font-size: 10pt;text-align: center;" >
	             525 RUE FELIX FAURE ANGLE DDDDDD,DAKA SENEGAL  Postal: 2536363 DAKAR 
	            </td>
	            
	            <td style="font-size: 10pt; text-align: center;" >
	             Téléphone :+221775982635
	            </td>
	          </tr>
	        </table>
	  
	  </div> 
	  
	
</body>

</html>
