<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

    <div layout:fragment="content">

        <div class="mainWrap navslide">
            <div class="ui equal width left aligned padded grid stackable">
                <div class="stretched row">

                    <div class="sixteen wide tablet sixteen wide computer column">
                        <div class="ui segments">
                            <div class="ui segment no-padding-bottom">

                                <h5 class="ui left floated header">
                                    <div class="ui secondary menu">
                                        <a class="item" th:href="@{/demande/all}"> <i class="large folder icon"></i> Tous </a>
                                        <a class="item" th:href="@{/demande/pending}" ><i class="large spinner icon"></i> En cours</a>
                                        <a class="item" th:href="@{/demande/valided}"><i class="large checkmark icon"></i> Validé(s)</a>
                                        <a class="item" th:href="@{/demande/rejected}"><i class="large close icon"></i>Rejeté(s)</a>
                                    </div>
                                </h5>

                                <div class="clearfix"></div>
                            </div>


                            <div class="ui segment  aligned">
                                
                                
                                
                    <div class="ui secondary  menu">
                      <div class="right menu">

                          <button class="ui button" id="restaureCheckedDemande">
                          <i class="ion-arrow-return-left icon"></i>
                          Restauré</button>

                        </div>
                      </div>

                                <table class="ui fixed single line celled table" id="liste-demande-rejected">
                                    <thead>
                                        <tr class="full-width">
                                            <th>Selection</th>
                                            <th>N <sup>o</sup> Demande</th>
                                            <th>Nom</th>
                                            <th>Type Demande</th>
                                            <th>Date creation</th>
                                            <th>Score</th>
                                           
                                            <th>Status</th>
                                            <th>Montant demandé</th>
                                            
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="demande : ${demandes}">
                                            <td>
                                                <div class="ui checkbox">
                                                    <input type="checkbox" name="optionSelectedToRestaure" th:value="${demande.id}"/>
                                                    <label></label>
                                                </div>
                                            </td>
                                            <td class="collapsing" th:text="${demande.numero}"></td>
                                            <td th:text="${demande.nomProjet}"></td>
                                            <td th:text="${demande.typeDemande}"></td>
                                            <td th:text="${#dates.format(demande.createdDate, 'dd/MM/yyyy - HH:mm')}"></td>
                                            <td th:text="${demande.score}"></td>

                                           


                                            <td>
                                                 <a class="ui red basic label">
                                                     <i class="large close  icon"></i> Validé
                                                </a>
                                            </td>
                                            <td th:text="${#numbers.formatDecimal(demande.montant,0,'COMMA',0,'POINT')} + ' FCFA'"></td>
                                           <td style="text-align: right;">
                                          
                                                 <a class="ui vertical animated  basic button brown"
												tabindex="0" th:href="@{'/demande/fiche/'+${demande.id}}">
													<div class="hidden content">Afficher</div>
													<div class="visible content">
														<i class="list icon"></i>
													</div>
											</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>


                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</html>
