<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <div layout:fragment="content">

        <div class="mainWrap navslide">
            <div class="ui equal width left aligned padded grid stackable">
                <div class="stretched row">

                    <div class="sixteen wide tablet sixteen wide computer column">
                        <div class="ui segments">
                            <div class="ui segment no-padding-bottom">
                                <form class="ui form" method="GET">

                                    <h4 class="ui dividing header">Rechercher un projet</h4>
                                    <div class="four fields">
                                        <div class="field">
                                            <label>N <sup>o</sup> projet</label>
                                            <input  name="numero" type="text" placeholder="Numero projet" />
                                        </div>
                                        <div class="field">
                                            <label>cni porteur du projet</label>
                                            <input name="cni" type="text" placeholder="cni porteur projet" />
                                        </div>
                                        <div class="field">
                                            <label>Téléphone porteur du projet</label>
                                            <input name="telephone" type="text" placeholder="Téléphone porteur du projet" />
                                        </div>
                                        <div class="field">
                                            <br />
                                            <button type="submit" name="button" class="ui button grey"> <i class="search icon"></i>Lancer la recherche</button>
                                        </div>

                                    </div>  

                                </form>                          
                                <table class="ui fixed single line celled table">
                                    <thead>
                                        <tr>
                                            <th>N <sup>o</sup> projet</th>
                                            <th>Date creation</th>
                                            <th>Demandeur</th>
                                            <th>Telephone</th>
                                            <th>Status demande</th>
                                            <th>Montant demandé</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="demande : ${demandeSearchModel}">
                                            <td th:text="${demande.numero}"></td>
                                            <td th:text="${#dates.format(demande.dateDemande, 'dd/MM/yyyy - HH:mm')}"></td>
                                            <td th:text="${demande.nomPorteurProjet + ' ' + demande.prenomPorteurProjet}"></td>
                                            <td th:text="${demande.telephonePorteurProjet}"></td>
                                            <td th:switch="${demande.etat}">
                                                <a th:case="'EN COURS'" class="ui blue mini basic label">
                                                    en cours
                                                </a>
                                                <a th:case="'VALIDE'" class="ui green mini basic label">
                                                    Validé
                                                </a>
                                                <a th:case="*" class="ui red mini basic label">
                                                    Rejeté
                                                </a>
                                            </td>
                                            <td th:text="${#numbers.formatDecimal(demande.montant,0,'COMMA',0,'POINT')} + ' FCFA'"></td>
                                            <td>
                                               <a class="ui vertical animated  basic button brown"
												tabindex="0" th:href="@{'/demande/fiche/'+${demande.id}}">
													<div class="hidden content">Afficher</div>
													<div class="visible content">
														<i class="list icon"></i>
													</div>
											</a>
                                            </td>
                                        </tr> 
                                    </tbody>
                                    <tfoot>
<!--                                        <tr>
                                            <td colspan="8" style="text-align:center;">résultats de la recherche</td> 
                                        </tr>-->
                                    </tfoot>
                                </table>
                                <p style="text-align:center;" th:switch="${demandeSearchModel.size()}">
                                    
                                    <span th:case="0">
                                        aucun résultats trouvé
                                    </span>
                                    
                                    <span th:case="*">
                                        résultats de la recherche
                                    </span> 
                                   
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</html>
