<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layoutForm">

    <div layout:fragment="content">

        <div class="mainWrap navslide">
            <div class="ui equal width left aligned padded grid stackable">
                <div class="stretched row">

                    <div class="sixteen wide tablet sixteen wide computer column">
                        <div class="ui segments">
                            <div class="ui segment no-padding-bottom">

                                <h5 class="ui left floated header">
                                    <i class="user icon"></i> Modification  mot de passe
                                </h5>
                                <h5 class="ui right floated header">

                                </h5>
                                <div class="clearfix"></div>
                            </div>
                            <div class="ui segment  aligned">

                               <form th:object="${userForm}" th:action="@{/account/changepassword}" method="post">

                                <h1 class="ui header center aligned">
                                    <br/>
                                    <div class="content">
                                        <p class="error-login" th:if="${erreur}" th:text="${erreur}"> 
                                            
                                        </p>
                                    </div>
                                </h1>

                                <div class="field">
                                    <label>
                                        Nouveau mot de passe:
                                    </label>
                                    <div class="ui fluid icon input">
                                        <input  type="password" autocomplete="off" style="width:100%!important;min-width:100%;width:100%;" required="required" th:field="*{newPassword}" th:value="*{newPassword}"/>
                                        <i class="icon user outline"></i>
                                    </div>
                                </div>
                                <div class="field">
                                    <label>
                                        Confirmer le mot de passe:
                                    </label>
                                    <div class="ui fluid icon input">
                                        <input type="password" autocomplete="off" style="width:100%!important;min-width:100%;width:100%;" required="required" th:field="*{confirmation}" th:value="*{confirmation}"/>
                                        <i class="icon key"></i>
                                    </div>
                                </div>
                                <div class="field">

                                    <button type="submit" class="ui brown right labeled icon button fluid">
                                        VALIDER
                                        <i class="icon sign in"></i>
                                    </button>
                                </div>
                            </form>
                               
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</html>
