<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

                                <form id="formSecteur" class="ui form formsecteur">

                                    <div class="two fields">
                                        <div class="field">
                                            <label>Nom du secteur <i class="asteris">*</i> </label>
                                            <input type="text" name="nomsecteur" placeholder="Nom du seteur" id="nomSecteur"/>
                                        </div>
                                        <div class="field">
                                            <label>Description du secteur </label>
                                            <input type="text" name="description_secteur" placeholder="Description du seteur" id="descriptionSecteur"/>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label>Vérification de l'âge des demandeurs</label>
                                        <div class="ui toggle checkbox">
                                            <input type="checkbox" name="age_demandeur" checked="checked" id="verified_add"/>
                                             <!--<select class="form-control" required="required" id='verified_add'>
                                                <option value="true">OUI</option>
                                                <option value="false">NON</option>
                                            </select>-->
                                            <label> </label>
                                        </div>
                                    </div>


                                   <div id="savesecteur" class="ui button positive submit"> <i class="save icon"></i> Enregistrer</div>

                                    <a class="ui button grey" type="submit" th:href="@{/secteur/list}" name="button"><i class="close icon"></i> Annuler</a>

                                </form>

                     
</html>