<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

    <div layout:fragment="haut">

        <div class="block-header">
            <h2>
                <i class="material-icons">group</i><span>LISTE DES
                    SOUS SECTEURS</span>
            </h2>
        </div>
    </div>

    <div layout:fragment="content">

        <div class="header">
            <button type="button" class="btn bg-deep-orange waves-effect" data-toggle="modal" data-target="#modalAddSousSecteur">
                <i class="material-icons">add_box</i><span>NOUVEAU SOUS SECTEUR</span></button>
            <button type="button" class="btn btn-danger waves-effect" onclick="goBack()" >
                RETOUR A LA PAGE PRECEDENTE
            </button>
        </div>
        <div class="body table-responsive">
            <table class="table table-hover" id="liste-secteur">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>NOM</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="sousSecteur : ${sousSecteurs}">
                        <td th:text="${sousSecteur.id}"></td>
                        <td th:text="${sousSecteur.nom}"></td>
                        <td>
                            <button class="btn btn-danger btn-circle waves-effect waves-circle waves-float btnDeleteSousSecteur" th:attr="data-id=${sousSecteur.id}"> 
                            <i class="material-icons">delete</i>
			 </button>
                            
                          <button class="btn btn-primary btn-circle waves-effect waves-circle waves-float btnGetSousSecteur" th:attr="data-id=${sousSecteur.id}"> 
                            <i class="material-icons">edit</i>
			 </button>
                         
                     
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>


        <!-- modal ajout seceur -->
        <div class="modal fade" id="modalAddSousSecteur" tabindex="-1"
             role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- <h4 class="modal-title" id="largeModalLabel">Modal title</h4> -->
                    </div>
                    <div class="modal-body">
                        <!-- Basic Validation -->
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>NOUVEL SOUS SECTEUR</h2>
                                    </div>
                                    <div class="body">
                                        <form id="formSousSecteur">
                                            <input type="hidden" id="sousSecteurSecteurId" th:value="${secteurId}"/>
                                            
                                            <div class="row clearfix">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" class="form-control" placeholder="nom du sous secteur"
                                                                   required="required" id="nomSousSecteur" />
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                    </div>
                                            <button class="btn btn-primary waves-effect" type="submit">VALIDER</button>
                                            <button type="button" class="btn btn-danger waves-effect"
                                                    data-dismiss="modal">ANNULER</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
            <!-- modal edit seceur -->
        <div class="modal fade" id="modalEditSousSecteur" tabindex="-1"
             role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- <h4 class="modal-title" id="largeModalLabel">Modal title</h4> -->
                    </div>
                    <div class="modal-body">
                        <!-- Basic Validation -->
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>MODIFICATION SECTEUR</h2>
                                    </div>
                                    <div class="body">
                                        <form id="formSousSecteurEdit">
                                            <input type="hidden" id="idSousSecteurEdit" />
                                            <input type="hidden" id="sousSecteurSecteurId" th:value="${secteurId}"/>
                                            <div class="row clearfix">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <input type="text" class="form-control" placeholder="nom du sous secteur"
                                                                   required="required" id="nomSousSecteurEdit" />
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                    </div>
                                            <button class="btn btn-primary waves-effect" type="submit">VALIDER</button>
                                            <button type="button" class="btn btn-danger waves-effect"
                                                    data-dismiss="modal">ANNULER</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    </div>
</html>
