<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layoutForm">
    <head>
    </head>

    <div layout:fragment="content" class="panel panel-primary">
        <!--maincontent-->
        
        
        <div class="mainWrap navslide">
            <div class="ui equal width left aligned padded grid stackable">


                <div class="stretched row">

                    <div class="sixteen wide tablet sixteen wide computer column">
                        <div class="ui segments">
                            <div class="ui segment no-padding-bottom">
							<a class="ui labeled icon button" th:href="@{/secteur/list}">
									<i class="left arrow icon"></i>Precedent
								</a>
                                <h5 class="ui right floated header">
                                    <i class="chart pie icon"></i> Nouveau secteur
                                </h5>
                                <h5 class="ui right floated header">

                                </h5>
                                <div class="clearfix"></div>
                            </div>
                            <div class="ui segment  aligned">

                                <form  id="formSecteurEdit" class="ui form" th:object="${secteur}"> 
                                        <!--  type="hidden"-->
                                    
                                    <input type="hidden" th:field="*{id}" id="idSecteurEdit"/>
                                    <div class="two fields">
                                        <div class="field">
                                            <label>Nom du secteur <i class="asteris">*</i> </label>
                                            <input type="text" name="nom_secteur" th:field="*{nom}"  id="nomSecteurEdit"/>
                                        </div>
                                        <div class="field">
                                            <label>Description du secteur </label>
                                            <input type="text" name="description_secteur" th:field="*{description}" id="descriptionSecteurEdit"/>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <label>Vérification de l'âge des demandeurs</label>
                                        <div class="ui toggle checkbox">
                                            <input type="checkbox" name="age_demandeur" checked="checked"  id='verified_edit'/>

                                            <label> </label>
                                        </div>
                                    </div>


                                    <button class="ui button positive " type="submit" name="button"><i class="save icon"></i> Enregistrer</button>

                                    <a class="ui button grey" th:href="@{/secteur/list}" type="submit" name="button"><i class="close icon"></i> Annuler</a>

                                </form>

                            </div>
                        </div>

                    </div>


                </div>
            </div>
            <!--maincontent-->
        </div>
    </div>
</html>