<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

    <div layout:fragment="content">

        <div class="mainWrap navslide">
            <div class="ui equal width left aligned padded grid stackable">
                <div class="stretched row">

                    <div class="sixteen wide tablet sixteen wide computer column">
                        <div class="ui segments">
                            <div class="ui segment no-padding-bottom">
                                <div class="ui left floated">

								<a class="ui labeled icon button" th:href="@{/users/add}">
									<i class="left arrow icon"></i>Precedent
								</a>


							</div>
                                <h5 class="ui right floated header">
                                    
                                </h5>
                                <div class="clearfix"></div>
                            </div>
                            <div class="ui segment  aligned">
                             <h2 >Nom d'utilisateur : <span th:text="${#strings.toUpperCase(user.login)}"></span></h2>
                        <table class="ui table">
  <tbody>
    <tr style="font-size: 15px;">
      <td > <b>Prenom et nom:</b> </td>
      <td><span th:text="${#strings.toUpperCase(user.nom)}"> </span> <span th:text="${#strings.toUpperCase(user.prenom)}"> </span></td>
      
    </tr>
    <tr style="font-size: 15px;">
      <td > <b>Email :</b> </td>
      <td><span th:text="${user.email}"> </span></td>
      
    </tr>
    <tr style="font-size: 15px;">
      <td > <b>Telephone :</b> </td>
      <td><span th:text="${#strings.toUpperCase(user.telephone)}"> </span></td>
      
    </tr>
      <tr style="font-size: 15px;">
      <td > <b>Partenaire:</b> </td>
      <td><span th:text="${#strings.toUpperCase(partenaire)}"> </span></td>
      
    </tr>
     
    
  </tbody>
</table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</html>
