<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layoutForm">

    <div layout:fragment="content">

        <div class="mainWrap navslide">
            <div class="ui equal width left aligned padded grid stackable">
                <div class="stretched row">

                    <div class="sixteen wide tablet sixteen wide computer column">
                        <div class="ui segments">
                            <div class="ui segment no-padding-bottom">

                                <h5 class="ui left floated header">
                                    <i class="user icon"></i> Nouveau utilisateur
                                </h5>
                                <h5 class="ui right floated header">

                                </h5>
                                <div class="clearfix"></div>
                            </div>
                            <div class="ui segment  aligned">
                                <form class="ui form formuseredit" id="formUserEdit">
                                    <h4 class="ui dividing header">Informations personnelles</h4>
                                    <div class="field">
                                        <input type="hidden" id="idUserEdit" th:value="${user.id}"/>
                                        <div class="two fields">
                                            <div class="field">
                                                <label>Nom <i class="asteris">*</i></label>
                                                <input type="text" name="nomu" th:value="${user.nom}" placeholder="Nom utilisateur" id="nomUserEdit"  />
                                            </div>
                                            <div class="field">
                                                <label>Prenom <i class="asteris">*</i></label>
                                                <input type="text" th:value="${user.prenom}" name="prenomu" placeholder="Prenom utilisateur" id="prenomUserEdit"  />
                                            </div>
                                        </div>
                                        <div class="two fields">
                                            <div class="field">
                                                <label>Email <i class="asteris">*</i></label>
                                                <input type="email" th:value="${user.email}" name="email" placeholder="Email utilisateur" id="emailUserEdit"  />
                                            </div>
                                            <div class="field">
                                                <label>Nom d'utilisateur <i class="asteris">*</i></label>
                                                <input type="text" name="username" disabled="disabled" th:value="${user.login}" placeholder="Nom d'utilisateur" id="loginUserEdit"/>
                                            </div>
                                        </div>
                                        <div class="two fields">
                                            <div class="field">
                                                <label>Téléphone </label>
                                                <input type="text" name="telu" th:value="${user.telephone}" placeholder="Téléphone utilisateur" id="telephoneUserEdit"/>
                                            </div>
                                            <div class="field">
                                                <label>Partenaire <i class="asteris">*</i></label>
                                                <select class="ui search dropdown" name="partneru"  id="partenaireIdUserEdit" >
                                                    <option th:each="p : ${partenaires}" th:value="${p.id}"
                                                            th:text="${p.nom}" th:selected="${p.id==user.partenaireId ? 'selected':'false'}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="two fields">
                                            <div class="field">
                                                <label>Roles <i class="asteris">*</i> </label>
                                                <select class="ui search dropdown" name="role" id="authoritiesUserEdit">

                                                    <option value="ROLE_AGENT">Agent</option>
                                                    <option value="ROLE_ADMIN">Admin</option>
                                                </select>
                                            </div>
                                            <div class="field">
                                                <br/>
                                                <div class="ui checkbox">
                                                    <input type="checkbox"  id="userActivatedEdit" th:checked="${user.activated}"/>
                                                    <label>Activer le compte utilisateur</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label >Commentaire</label>
                                            <textarea name="name" rows="5" cols="80"></textarea>
                                        </div>
                                    </div>
                                    <div id="edituser" class="ui button positive submit"> <i class="save icon"></i> Modifier</div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</html>
