<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />
<title>Connexion | DER</title>
<!-- Favicon-->
<link rel="icon" href="../../favicon.ico" type="image/x-icon" />

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,cyrillic-ext"
	rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" type="text/css" />

<!-- Bootstrap Core Css -->
<link th:href="@{/plugins/bootstrap/css/bootstrap.css}" rel="stylesheet" />

<!-- Waves Effect Css -->
<link th:href="@{/plugins/node-waves/waves.css}" rel="stylesheet" />

<!-- Animation Css -->
<link th:href="@{/plugins/animate-css/animate.css}" rel="stylesheet" />

<!-- Custom Css -->
<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<style>
.head {
	background-color: #991b18;
}

.der {
	color: aliceblue;
}
</style>

<body class="login-page">
	<!-- Top Bar -->
	<!-- #Top Bar -->
	<div class="login-box">
		<div th:if="${erreur}" th:text="${erreur}" class="alert alert-danger"></div>
		<div th:if="${info}" th:text="${info}" class="alert alert-success"></div>
		<div class="card">
			<div class="body">
				<form th:object="${customUser}" th:action="@{/user/forgetpassword}"
					method="POST">
					<div class="row clearfix">
						<div class="col-sm-4">
							<div class="form-group">
								<div class="form-line">
									<input type="email" class="form-control" required="required" placeholder="email"
										th:field="*{email}" th:value="*{email} " /> 
								</div>
							</div>
						</div>

					</div>


					<button class="btn btn-primary waves-effect" type="submit">VALIDER</button>
					<button type="reset" class="btn btn-danger waves-effect">ANNULER</button>

					<div class="row">
						<div class="col-xs-8 p-t-5">
							<a th:href="@{/}">Home</a>
						</div>
					</div>

				</form>



			</div>
		</div>
	</div>

</body>

</html>