<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <div layout:fragment="haut">
        <div class="block-header">
            <h2>
                <i class="material-icons">group</i><span>LISTE DES
                    UTILISATEURS</span>
            </h2>
        </div>
    </div>

    <div layout:fragment="content">

        <div class="header">
            <button type="button" class="btn bg-deep-orange waves-effect" data-toggle="modal" data-target="#modalAddUser">
                <i class="material-icons">add_box</i><span>NOUVEAU UTILISATEUR</span></button>
        </div>
        <div class="body table-responsive">
            <table class="table table-hover table-condensed table-striped" id="liste-user">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Login</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.nom}"></td>
                        <td th:text="${user.prenom}"></td>
                        <td th:text="${user.login}"></td>

                        <td>
                            <button class="btn btn-group-sm btn-danger btn-circle waves-effect waves-circle waves-float btnDeleteUser" th:attr="data-id=${user.login}"> 
                                <i class="material-icons">delete</i>
                            </button>

                            <button class="btn btn-group-sm btn-primary btn-circle waves-effect waves-circle waves-float btnGetUser" th:attr="data-id=${user.login}"> 
                                <i class="material-icons">edit</i>
                            </button>

                        </td>
                    </tr>     
                </tbody>
            </table>
        </div>


        <div class="modal fade" id="modalAddUser" tabindex="-1"
             role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- <h4 class="modal-title" id="largeModalLabel">Modal title</h4> -->
                    </div>
                    <div class="modal-body">
                        <!-- Basic Validation -->
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>NOUVEAU UTILISATEUR</h2>
                                    </div>
                                    <div class="body">

                                        <form id="formNewUser">
                                            <div class="row clearfix">
                                                <div class="col-sm-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line">
                                                            <input type="text" class="form-control"
                                                                   required="required" id="nomUser" />

                                                        </div>
                                                        <div class="help-info">Nom*</div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line">
                                                            <input type="text" class="form-control"
                                                                   required="required" id="prenomUser" />

                                                        </div>
                                                        <div class="help-info">Prenom *</div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line">
                                                            <input type="text" class="form-control"
                                                                   required="required" id="telephoneUser" />

                                                        </div>
                                                        <div class="help-info">Telephone *</div>
                                                    </div>
                                                </div>



                                            </div>

                                            <div class="row clearfix">

                                                <div class="col-sm-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line">
                                                            <input type="text" class="form-control"
                                                                   required="required" id="loginUser" />

                                                        </div>
                                                        <div class="help-info">Login *</div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line">
                                                            <input type="text" class="form-control"
                                                                   required="required" id="emailUser" />

                                                        </div>
                                                        <div class="help-info">Email *</div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line">
                                                            <select required="required" id="authoritiesUser">
                                                                <option value="" selected="selected">Role</option>
                                                                <option value="ROLE_AGENT">Agent</option>
                                                                <option value="ROLE_ADMIN">Admin</option>
                                                            </select>


                                                        </div>
                                                        <div class="help-info">Role *</div>
                                                    </div>
                                                </div>


                                                <div class="col-sm-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line">
                                                            <input type="checkbox" id="userActivated"
                                                                   name="userActivated"  checked="checked"/>
                                                        </div>
                                                        <div class="help-info">Activer ou desactiver cette uilisateur *</div>
                                                    </div>
                                                </div>



                                                <div class="col-sm-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line">
                                                            <select required="required" id="partenaireIdUser">
                                                                <option value="" selected="selected">Partenaire</option>
                                                                <option th:each="p : ${partenaires}" th:value="${p.id}"
                                                                        th:text="${p.nom}"></option>
                                                            </select>


                                                        </div>
                                                        <div class="help-info">Partenaire *</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <button class="btn btn-primary waves-effect" type="submit">VALIDER</button>
                                            <button type="button" class="btn btn-danger waves-effect"
                                                    data-dismiss="modal">ANNULER</button>

                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="modal fade" id="modalAddUserEdit" tabindex="-1"
             role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- <h4 class="modal-title" id="largeModalLabel">Modal title</h4> -->
                    </div>
                    <div class="modal-body">
                        <!-- Basic Validation -->
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>MODIFICATION UTILISATEUR</h2>
                                    </div>
                                    <div class="body">

                                        <form id="formUserEdit">
                                            <input type="hidden" id="loginUserEdit"/>
                                            <input type="hidden" id="idUserEdit"/>
                                            <div class="row clearfix">
                                                <div class="col-sm-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line">
                                                            <input type="text" class="form-control"
                                                                   required="required" id="nomUserEdit" />

                                                        </div>
                                                        <div class="help-info">Nom*</div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line">
                                                            <input type="text" class="form-control"
                                                                   required="required" id="prenomUserEdit" />

                                                        </div>
                                                        <div class="help-info">Prenom *</div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line">
                                                            <input type="text" class="form-control"
                                                                   required="required" id="telephoneUserEdit" />

                                                        </div>
                                                        <div class="help-info">Telephone *</div>
                                                    </div>
                                                </div>



                                            </div>

                                            <div class="row clearfix">



                                                <div class="col-sm-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line">
                                                            <input type="text" class="form-control"
                                                                   required="required" id="emailUserEdit" />

                                                        </div>
                                                        <div class="help-info">Email *</div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line">
                                                            <select required="required" id="authoritiesUserEdit">
                                                                <option value="" selected="selected">Role</option>
                                                                <option value="ROLE_AGENT">Agent</option>
                                                                <option value="ROLE_ADMIN">Admin</option>
                                                            </select>


                                                        </div>
                                                        <div class="help-info">Role *</div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line">
                                                            <input type="checkbox" id="userActivatedEdit"
                                                                   name="userActivated"  />
                                                        </div>
                                                        <div class="help-info">Activer ou desactiver cette uilisateur *</div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line">
                                                            <select required="required" id="partenaireIdUserEdit">
                                                                <option value="" selected="selected">Partenaire</option>
                                                                <option th:each="p : ${partenaires}" th:value="${p.id}"
                                                                        th:text="${p.nom}"></option>
                                                            </select>


                                                        </div>
                                                        <div class="help-info">Partenaire *</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <button class="btn btn-primary waves-effect" type="submit">VALIDER</button>
                                            <button type="button" class="btn btn-danger waves-effect"
                                                    data-dismiss="modal">ANNULER</button>

                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</html>
