<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layoutForm">

    <div layout:fragment="content">
        <!--debut maincontent-->
        <div class="mainWrap navslide">
            <div class="ui equal width left aligned padded grid stackable">


                <div class="stretched row">

                    <div class="sixteen wide tablet sixteen wide computer column">
                        <div class="ui segments">
                            <div class="ui segment no-padding-bottom">
                                <h5 class="ui left floated header">
                                    Gestion des utilisteurs
                                </h5>
                                <h5 class="ui right floated header">
                                    <a class="ui button brown" th:href="@{/users/add}"><i class="plus icon"></i>ajouter un utilisateur</a>
                                </h5>
                                <div class="clearfix"></div>
                            </div>
                            <div class="ui segment left aligned">
                                

                                <table class="ui compact celled definition table tablet stackable" id="liste-user">
                                    <thead class="full-width">
                                        <tr>
                                            <th>avatar</th>
                                            <th>Nom d'utilisateur</th>
                                            <th>Email</th>
                                            <th>Nom</th>
                                            <th>Prenom</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="user : ${users}">
                                            <td class="collapsing">
                                                <img class="ui mini circular image" th:src="@{/img/user.png}" alt="label-image" />
                                            </td>
                                            <td th:text="${user.login}"></td>
                                            <td th:text="${user.email}"></td>
                                            <td th:text="${user.nom}"></td>
                                            <td th:text="${user.prenom}"></td>
                                            <td>
                                                <a th:text="${user.activated ? 'acitivé':'desactivé'}" th:class="${user.activated ? 'ui green mini basic label':'ui red mini basic label'}"></a>
                                            </td>
                                            <td>

                                                <a> 
                                                    <div class="ui toggle checkbox">
                                                        <input type="checkbox" class="EnableOrDisableUser" th:checked="${user.activated}" th:attr="data-id=${user.login}"/>
                                                        <label></label>
                                                    </div>
                                                </a> 

                                                <button class="ui brown basic button btnDeleteUser" th:attr="data-id=${user.login}"> 
                                                    <i class="close user"></i>
                                                    supprimer
                                                </button>

                                                <a class="ui brown basic button" th:href="@{'/users/details/'+${user.login}}"> 
                                                    <i class="close user"></i>
                                                    editer
                                                </a>

                                            </td>
                                        </tr>     

                                    </tbody>
                                    <tfoot class="full-width">

                                    </tfoot>
                                </table>
                                <div class="ui inverted dimmer">
                                    <div class="ui text loader">Loading</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>  
        <!--fin maincontent-->
    </div>
</html>
