
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<div layout:fragment="content">

	<div tabindex="-1">
		<div class="" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<!-- <h4 class="modal-title" id="largeModalLabel">Modal title</h4> -->
				</div>
				<div class="modal-body">
					<!-- Basic Validation -->
					<div class="row clearfix">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="card">
								<div class="header">
									<h2>Profil utilisateur</h2>
								</div>
								<div class="body">

									<div th:if="${user}">

										<div class="form-group">
											<label>Login :</label> <input type="text" disabled="disabled"
												class="form-control" th:value="${user.username}"></input>
										</div>

										<div class="form-group">
											<label>Password :</label> <input type="text"
												disabled="disabled" class="form-control" value="***********"></input>
										</div>

										<div class="form-group">
											<a class="btn btn-danger" th:href="@{/user/update}"> <span
												class="glyphicon glyphicon-edit"></span> Modifier le mot de
												passe
											</a>
										</div>

									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>



</html>
