
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorator="layoutForm">

    <div layout:fragment="content">

        <div tabindex="-1">
            <div class="" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div th:if="${erreur}" th:text="${erreur}"
                             class="alert alert-danger"></div>
                        <div th:if="${info}" th:text="${info}" class="alert alert-success"></div>
                    </div>
                    <div class="modal-body">
                        <!-- Basic Validation -->
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="header">
                                        <h2>MODIFICATION MOT DE PASSE</h2>
                                    </div>
                                    <div class="body">
                                        <form th:object="${userForm}" th:action="@{/user/update}" method="post">
                                            <div class="row clearfix">
                                                <div class="col-sm-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line">
                                                            <input type="password" class="form-control"
                                                                   required="required" th:field="*{password}" th:value="*{password} " />
                                                            
                                                        </div>
                                                        <div class="help-info">Mot de passe actuel*</div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line">
                                                            <input type="password" class="form-control"
                                                                   required="required" th:field="*{newPassword}" th:value="*{newPassword} " />
                                                            
                                                        </div>
                                                        <div class="help-info">Nouveau mot de passe *</div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group form-float">
                                                        <div class="form-line">
                                                            <input type="password" class="form-control"
                                                                   required="required" th:field="*{confirmation}" th:value="*{confirmation} " />
                                                            
                                                        </div>
                                                        <div class="help-info">Confirmation *</div>
                                                    </div>
                                                </div>

                                            </div>

                                            <button class="btn btn-primary waves-effect" type="submit">VALIDER</button>
                                            <button type="button" class="btn btn-danger waves-effect"
                                                    onclick="goBack()" >RETOUR A LA PAGE PRECEDENTE</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>



</html>
