
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
                 

                                <form class="ui form formpatner" id="formAddPartenaire">

                                    <div class="three fields">
                                        <div class="field">
                                            <label>Nom partenaire <i class="asteris">*</i></label>
                                            <input type="text" maxlength="20" name="nomp" placeholder="Nom du partenaire" id="nomPartenaire"/>
                                        </div>
                                        <div class="field">
                                            <label>Email  <i class="asteris">*</i></label>
                                            <input type="text" name="email" placeholder="Email du partenaire" id="emailPartenaire"/>
                                        </div>
                                        <div class="field">
                                            <label>Téléphone  <i class="asteris">*</i></label>
                                            <input type="text" maxlength="9" name="telp" placeholder="Téléphone du partenaire" id="telephonePartenaire"/>
                                        </div>
                                    </div>

                                    <div class="four fields">
                                        <div class="field">
                                            <label>Type partenaire <i class="asteris">*</i></label>
                                            <select class="ui select dropdown" id="typePartenaireIdPartenaire" name="typp">
                                                <option value="" selected="selected">Type partenaire</option>
                                                <option th:each="tp : ${typesPartenaires}" th:value="${tp.id}" th:text="${tp.nom}"></option>
                                            </select>
                                        </div>
                                        <div class="field">
                                            <label>Region <i class="asteris">*</i></label>
                                            <select class="ui select dropdown" id="regionIdPartenaire" name="regionp" onchange="loadSelectDepartement('regionIdPartenaire', 'departementIdPartenaire', 'communeIdPartenaire');">
                                                <option value="" selected="selected">Liste region</option>
                                                <option th:each="r : ${regions}" th:value="${r.id}"
                                                        th:text="${r.nom}"></option>
                                            </select>
                                        </div>
                                        <div class="field">
                                            <label>Departement <i class="asteris">*</i></label>
                                            <select class="ui select dropdown" id="departementIdPartenaire" name="depp" onchange="loadSelectCommune('departementIdPartenaire', 'communeIdPartenaire');">
                                              
                                            </select>
                                        </div>
                                        <div class="field">
                                            <label>Commune <i class="asteris">*</i></label>
                                            <select class="ui select dropdown" name="comp" id="communeIdPartenaire">

                                            </select>
                                        </div>
                                        
                                    </div>
                                    <div class="field" id="commentairePartenaire">
                                            <label >Description</label>
                                            <textarea name="name" rows="5" cols="80"></textarea>
                                        </div>
                                    <button id="savepart" class="ui button positive addLoading"> <i class="save icon"></i> Enregistrer</button>
                                 <div class="ui clear button"><i class="close icon"></i> Annuler</div>

                                </form>

                         
                       
</html>
