<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layoutForm">

    <div layout:fragment="content">
        <!--debut maincontent-->
        <div class="mainWrap navslide">
            <div class="ui equal width left aligned padded grid stackable">
                <div class="stretched row">

                    <div class="sixteen wide tablet sixteen wide computer column">
                        <div class="ui segments">
                            <div class="ui segment no-padding-bottom">
                                <h5 class="ui left floated header">
                                   <div class="ui secondary menu">
                                 
									
									 <a data-tab="liste" class="item active"><i class="users icon"></i> liste des partenaire</a>
									 <a data-tab="addPart" class="item "><i class="user plus  icon"></i>Nouveau partenaire</a>
									
								</div>
                                </h5>
                               
                                <div class="clearfix"></div>
                            </div>
                            <div class="ui segment left aligned">
                            <div style="border: none;" class="ui tab segment "
								data-tab="addPart">
								 <form class="ui form formpatner" id="formAddPartenaire">

                                    <div class="three fields">
                                        <div class="field">
                                            <label>Nom partenaire <i class="asteris">*</i></label>
                                            <input type="text" maxlength="20" name="nomp" placeholder="Nom du partenaire" id="nomPartenaire"/>
                                        </div>
                                        <div class="field">
                                            <label>Email  <i class="asteris">*</i></label>
                                            <input type="text" name="email" placeholder="Email du partenaire" id="emailPartenaire"/>
                                        </div>
                                        <div class="field">
                                            <label>Téléphone  <i class="asteris">*</i></label>
                                            <input type="text" maxlength="9" name="telp" placeholder="Téléphone du partenaire" id="telephonePartenaire"/>
                                        </div>
                                    </div>

                                    <div class="four fields">
                                        <div class="field">
                                            <label>Type partenaire <i class="asteris">*</i></label>
                                            <select class="ui search dropdown" id="typePartenaireIdPartenaire" name="typp">
                                                <option value="" selected="selected">Type partenaire</option>
                                                <option th:each="tp : ${typesPartenaires}" th:value="${tp.id}" th:text="${tp.nom}"></option>
                                            </select>
                                        </div>
                                        <div class="field">
                                            <label>Region <i class="asteris">*</i></label>
                                            <select class="ui search dropdown" id="regionIdPartenaire" name="regionp" onchange="loadSelectDepartement('regionIdPartenaire', 'departementIdPartenaire', 'communeIdPartenaire');">
                                                <option value="" selected="selected">Liste région</option>
                                                <option th:each="r : ${regions}" th:value="${r.id}"
                                                        th:text="${r.nom}"></option>
                                            </select>
                                        </div>
                                        <div class="field">
                                            <label>Departement <i class="asteris">*</i></label>
                                            <select class="ui search dropdown" id="departementIdPartenaire" name="depp" onchange="loadSelectCommune('departementIdPartenaire', 'communeIdPartenaire');">
                                              
                                            </select>
                                        </div>
                                        <div class="field">
                                            <label>Commune <i class="asteris">*</i></label>
                                            <select class="ui search dropdown" name="comp" id="communeIdPartenaire">

                                            </select>
                                        </div>
                                        
                                    </div>
                                    <div class="field" id="commentairePartenaire">
                                            <label >Description</label>
                                            <textarea name="name" rows="5" cols="80"></textarea>
                                        </div>
                                    <div id="savepart" class="ui button positive submit"> <i class="save icon"></i> Enregistrer</div>
                                 <div class="ui clear button"><i class="close icon"></i> Annuler</div>

                                </form>
                                </div>
                                <div style="border: none;" class="ui tab segment active "
                                        data-tab="liste">
                                    <table class="ui compact celled definition table tablet stackable" id="liste-partenaire" style="width: 100%">
                                    <thead class="full-width">
                                        <tr>
                                            <th>Nom</th>
                                            <th>Téléphone</th>
                                            <th>Email</th>
                                       <!--       <th>commentaire</th>-->
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr th:each="partenaire : ${partenaires}">
                                            <td th:text="${partenaire.nom}"></td>
                                            <td th:text="${partenaire.telephone}"></td>
                                            <td th:text="${partenaire.email}"></td>
                                            <td style="text-align: right;">
                                                <a href="#">
                                                    <div class="ui toggle checkbox">
                                                    <input type="checkbox" class="EnableOrDisablePartenaire" th:checked="${partenaire.activated}" th:attr="data-id=${partenaire.id}"/>
                                                    <label></label>   
                                                    </div>
                                                    </a>
                                                <a class="ui brown basic button" th:href="@{/partenaire-update(id=${partenaire.id})}"> 
                                                    <i class="close user"></i>
                                                    editer
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>  
        <!--fin maincontent-->
    </div>
</html>
