<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layoutForm">

    <div layout:fragment="content">

        <div class="mainWrap navslide">
            <div class="ui equal width left aligned padded grid stackable">


                <div class="stretched row">

                    <div class="sixteen wide tablet sixteen wide computer column">
                        <div class="ui segments">
                            <div class="ui segment no-padding-bottom">

                                <div class="ui left floated ">
									 	<a class="ui labeled icon button" th:href="@{/partenaire/list}">
									<i class="left arrow icon"></i>Precedent
								</a>
                                   
                                </div>
                                <h5 class="ui right floated header">
									 <i class="users icon"></i> Nouveau partenaire
                                </h5>
                                <div class="clearfix"></div>
                            </div>
                            <div class="ui segment  aligned">
                                
                               

                            <form class="ui form formeditpatner" id="formPartenaireEdit" th:object="${partenaire}">
                            <input type="hidden" th:field="*{id}" id="idPartenaireEdit"/>
                            
                                    <div class="three fields">
                                        <div class="field">
                                            <label>Nom partenaire <i class="asteris">*</i></label>
                                            <input type="text" name="nom" th:field="*{nom}" id="nomPartenaireEdit"/>
                                        </div>
                                        <div class="field">
                                            <label>Email  <i class="asteris">*</i></label>
                                            <input type="email" name="email" th:field="*{email}" id="emailPartenaireEdit"/>
                                        </div>
                                        <div class="field">
                                            <label>Téléphone  <i class="asteris">*</i></label>
                                            <input type="text" name="telp" th:field="*{telephone}" id="telephonePartenaireEdit"/>
                                        </div>
                                    </div>

                                    <div class="four fields">
                                        <div class="field">
                                            <label>Type partenaire <i class="asteris">*</i></label>
                                            <select class="ui search dropdown" id="typePartenaireIdPartenaireEdit" name="typp">
                                                <option th:each="tp : ${typesPartenaires}" th:value="${tp.id}" th:text="${tp.nom}"></option>
                                            </select>
                                        </div>
                                        <div class="field">
                                            <label>Region <i class="asteris">*</i></label>
                                            <select class="ui search dropdown" id="regionIdPartenaireEdit" name="regionp" onchange="loadSelectDepartement('regionIdPartenaireEdit', 'departementIdPartenaireEdit', 'communeIdPartenaireEdit');">
                                                
                                                <option th:each="r : ${regions}" th:value="${r.id}"
                                                        th:text="${r.nom}"></option>
                                            </select>
                                        </div>
                                        <div class="field">
                                            <label>Departement <i class="asteris">*</i></label>
                                            <select class="ui search dropdown" id="departementIdPartenaireEdit" name="depp" onchange="loadSelectCommune('departementIdPartenaireEdit', 'communeIdPartenaireEdit');">

                                            </select>
                                        </div>
                                        <div class="field">
                                            <label>Commune <i class="asteris">*</i></label>
                                            <select class="ui search dropdown" name="comp" id="communeIdPartenaireEdit">
                                                
                                            </select>
                                        </div>
                                        
                                    </div>
                                    <div class="field" id="commentairePartenaire">
                                            <label >Commentaire</label>
                                            <textarea name="name" rows="5" cols="80" th:field="*{commentaire}" ></textarea>
                                        </div>
                                   <div id="editpartner" class="ui button positive submit"> <i class="save icon"></i> Modifier</div>

                                </form>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
            <!--maincontent-->
        </div>

    </div>
</html>
