<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layoutForm">

   

    <div layout:fragment="content">

        <div class="mainWrap navslide">
            <div class="ui equal width left aligned padded grid stackable">



                <div class="stretched row">

                    <div class="sixteen wide tablet sixteen wide computer column">
                        <div class="ui segments">
                            <div class="ui segment no-padding-bottom">
                                <h5 class="ui left floated header">
									  <div class="ui secondary menu">
                                  <a class="item" th:href="@{/secteur/list}">
									<i class="left arrow icon"></i>Precedent
								</a>
									 <a data-tab="listsect" class="item active"><i class="list  icon"></i>liste des sous secteur</a>
									 <a data-tab="addsect" class="item"><i class="plus icon"></i> ajouter un sous secteur</a>
									
								</div>
                                </h5>
                                <h2 class="ui right floated header">
                                <b> Secteur :<span th:text="${secteurNom}"></span></b>
                                </h2>
                                <div class="clearfix"></div>
                            </div>
                        <div class="ui segment left aligned">
                            
                  <div style="border: none;" class="ui tab segment  "
								data-tab="addsect">
								<form class="ui form" id="formSousSecteur">
                                        <!--  type="hidden"-->
                                    <input type="hidden" id="sousSecteurSecteurId" th:value="${secteurId}"/>
                                    <div class="two fields">
                                      <div class="field">
                                        <label>Nom du sous secteur <i class="asteris">*</i></label>
                                        <input type="text" name="nom_secteur" placeholder="Nom du sous seteur" id="nomSousSecteur"/>
                                      </div>
                                      <div class="field">
                                        <label>Description du sous secteur </label>
                                        <input type="text" name="description_secteur" placeholder="Description du sous seteur" id="descriptionSouSecteur"/>
                                      </div>
                                    </div>

                                <button class="ui button positive" type="submit" name="button"><i class="save icon"></i> Enregistrer</button>
                                <button class="ui button grey" type="submit" name="button"><i class="close icon"></i> Annuler</button>

                              </form>
								</div>
<div style="border: none;" class="ui tab segment active" data-tab="listsect">
   
                                <table class="ui celled striped table" >
                                    <thead>
                                        <tr>
                                        <th>Secteur </th>
                                        <th>Description </th>
                                        <th>Sous secteur </th>
                                        <th colspan="2">Action </th>
                                        </tr></thead>
                                    <tbody>   
                                         <tr th:each="sousSecteur : ${sousSecteurs}">                                       
                                            <td class="collapsing" th:text="${sousSecteur.nom}"></td>
                                            <td th:text="${sousSecteur.description}"></td>
                                            <td class="right aligned collapsing"><a class="ui basic button brown" th:href="@{/sous-secteur-update(id=${sousSecteur.id})}"><i class="edit icon"></i> modifier </a></td>
                                            
                                            
                                                 <!--   <td class="right aligned collapsing"><button  class="btnDeleteSousSecteur ui basic button red" th:attr="data-id=${sousSecteur.id}"><i class="delete icon"></i> supprimer </button >
                                            </td>-->
                                            <td class="right aligned collapsing"><a href="sous-secteur.html"><div class="ui toggle checkbox">
                                                     
                                             <input type="checkbox" class="EnableOrDisableSousSecteur" th:checked="${sousSecteur.active}" th:attr="data-id=${sousSecteur.id}"/>
                                                        <label></label>
                                                    </div></a></td>
                                        </tr>



                                    </tbody>
                                </table>
</div>
                                <div class="ui inverted dimmer">
                                    <div class="ui text loader">Loading</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>

    </div>
</html>
