﻿<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <title>404 | DERFJ</title>
    <!-- Favicon-->
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>

<!--     Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css"></link>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css"></link>

    <!-- Bootstrap Core Css -->
    <link th:href="@{/plugins/bootstrap/css/bootstrap.css}" rel="stylesheet" />

    <!-- Custom Css -->
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>

<body class="four-zero-four">
    <div class="four-zero-four-container">
        <div class="error-code">404</div>
        <div class="error-message" style="font-weight: 100;">La ressource  demandée est inexistante.</div>
        <div class="button-place">
            <a th:href="@{/}" class="btn btn-default btn-lg waves-effect">
                  <i class="material-icons">home</i>
                <span>RETOUR &Aacute; LA PAGE ACCUEIL</span>
            </a>
        </div>
    </div>

</body>

</html>